.version._81_project /* version checker */
{
	color: #000002;
	background-color: #9F9558;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-width: 0px;
	z-index: 1;
	margin-right: auto;
	background-color: transparent;
	margin-left: auto;
	width: 100%;
	border-color: #000000;
	background-image: none;
}

#u55732
{
	position: relative;
	margin-right: -10000px;
	background-color: #231F20;
}

#u55731-4
{
	color: #FFFFFF;
	transition-timing-function: ease;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	text-align: center;
	margin-right: -10000px;
	background-color: transparent;
	transition-duration: 1s;
	font-weight: bold;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	position: relative;
	-webkit-transition-duration: 1s;
}

#u55731-4:hover
{
	padding-top: 0px;
	background-color: #FFDE00;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55731-4:hover p
{
	visibility: inherit;
	color: #000000;
}

#u55739-4,#u55938-4
{
	margin-right: -10000px;
	background-color: #000000;
	position: relative;
}

#u55641-25
{
	text-transform: uppercase;
	background-color: transparent;
	color: #231F20;
	position: relative;
}

#u55641-2
{
	font-family: league-gothic, sans-serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 1px;
}

#u55641-3,#u55641-6
{
	text-align: left;
	letter-spacing: 0px;
	font-weight: 400;
	font-family: open-sans, sans-serif;
}

#u55641-10,#u55641-23
{
	text-align: left;
	letter-spacing: 0px;
	font-weight: 700;
	font-family: open-sans, sans-serif;
}

#u55641-17
{
	font-family: open-sans, sans-serif;
}

#u55641-4,#u55641-7,#u55641-11,#u55641-15,#u55641-21
{
	font-weight: 600;
	font-family: open-sans, sans-serif;
}

#u55641-9,#u55641-12,#u55641-16,#u55641-18,#u55641-22
{
	font-weight: 400;
	font-family: open-sans, sans-serif;
}

#u55642-7
{
	background-color: transparent;
	font-weight: 600;
	min-height: 35px;
	position: relative;
	font-family: open-sans, sans-serif;
}

#u55640
{
	min-width: 40px;
	border-color: transparent;
	max-width: 100000px;
	border-width: 0px;
	background-color: transparent;
}

#u56374-8
{
	background-color: transparent;
	position: relative;
}

#u55639
{
	background-repeat: no-repeat;
	background-color: transparent;
	position: relative;
	background-position: center center;
	background-size: contain;
}

#u56413-4,#u56537-4,#u56604-4
{
	min-height: 14px;
	font-family: open-sans, sans-serif;
	text-transform: uppercase;
	background-color: transparent;
	font-weight: 700;
	position: relative;
}

#u56493,#u56586,#u56643
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: contain;
}

#u57195
{
	margin-right: -10000px;
	position: relative;
	height: 30px;
}

.ie #u57195
{
	opacity: 0.01;
	filter: alpha(opacity=1);
	background-color: #FFFFFF;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

#u55637-4
{
	line-height: 16px;
	background-color: transparent;
	min-height: 8px;
	position: relative;
}

#u55637-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u55637
{
	font-weight: 400;
	font-style: italic;
	font-size: 10px;
	line-height: 12px;
	font-family: open-sans, sans-serif;
}

#u56695
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: relative;
	background-size: cover;
}

#u56739-7,#u56783-13
{
	min-height: 57px;
	background-color: transparent;
	position: relative;
}

#u56374-2,#u56739-2,#u56783-2
{
	font-weight: 400;
	font-family: league-gothic, sans-serif;
}

#u56819
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: cover;
}

#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
{
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
}

#pu55739-4,#pu563
{
	width: 100%;
}

#u563,#u563-bw
{
	height: 70px;
}

#u44573-4,#u44573-4-bw
{
	min-height: 14px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1141px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 7114.975000000001px;
		padding-bottom: 0px;
	}

	#slideshowu55827
	{
		z-index: 2;
		width: 0.01px;
		height: 600px;
		position: relative;
		margin-right: -10000px;
	}

	#u55829
	{
		position: absolute;
		width: 1440px;
		height: 600px;
		background-color: transparent;
	}

	#u55829popup
	{
		z-index: 3;
	}

	#u56896
	{
		z-index: 4;
		width: 1440px;
		height: 600px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-right: -10000px;
		position: relative;
	}

	.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
	{
		cursor: pointer;
	}

	.SSSlideLoading /* slideshowFreeStyle */
	{
		background: url("../images/loading.gif") no-repeat center center;
	}

	#u168
	{
		z-index: 99;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 100;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#u55732
	{
		z-index: 151;
		width: 70px;
	}

	#u55731-4
	{
		z-index: 152;
		width: 70px;
		min-height: 70px;
		line-height: 30px;
		font-size: 25px;
	}

	#u55731-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#pu55733
	{
		padding-bottom: 70px;
		margin-top: -600px;
		width: 100%;
	}

	#u55733
	{
		z-index: 146;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u55734-3
	{
		z-index: 147;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		line-height: 30px;
		color: #FFFFFF;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	#u55734-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	.nosvg #u55734-3,.nosvg #u55734-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u55734-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u55731-2,#u55734
	{
		padding-top: 21px;
	}

	#u55643
	{
		z-index: 6;
		min-height: 6492px;
		background-color: #FFFFFF;
	}

	#u55643_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
		padding-bottom: 50px;
	}

	#pu55739-4
	{
		position: relative;
	}

	#u55739-4
	{
		z-index: 91;
		width: 80px;
		min-height: 26px;
		line-height: 12px;
		color: #FFFFFF;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
		left: 17.85%;
	}

	#u55938-4
	{
		z-index: 95;
		width: 80px;
		min-height: 26px;
		line-height: 12px;
		color: #FFFFFF;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
		left: 24.66%;
	}

	#u55739-2,#u55938-2
	{
		padding-top: 7px;
	}

	#u55641-25
	{
		z-index: 7;
		min-height: 222px;
		margin-top: 50px;
		width: 64.38%;
		left: 17.78%;
	}

	#u55641-2
	{
		font-size: 100px;
		line-height: 120px;
	}

	#u55641-3,#u55641-6,#u55641-10,#u55641-23
	{
		font-size: 15px;
		line-height: 18px;
	}

	#u55641-17
	{
		font-weight: 400;
	}

	#u55642-7
	{
		z-index: 32;
		margin-top: 50px;
		width: 64.38%;
		left: 17.78%;
	}

	#u55640
	{
		z-index: 49;
		height: 650px;
		margin-top: 50px;
		position: relative;
		width: 64.38%;
		margin-left: 17.82%;
		left: 0px;
	}

	#u56374-8
	{
		z-index: 50;
		min-height: 57px;
		margin-top: 50px;
		width: 64.38%;
		left: 17.71%;
	}

	#u56413-4
	{
		z-index: 78;
		line-height: 21px;
		font-size: 15px;
		margin-top: 30px;
		width: 64.38%;
		left: 17.71%;
	}

	#u55639
	{
		z-index: 39;
		background-image: url("../images/81project_2.jpg");
		padding-bottom: 267px;
		width: 64.38%;
		left: 17.78%;
	}

	#u57195
	{
		z-index: 90;
		margin-top: 291px;
		width: 7.77%;
		left: -2.49%;
	}

	#pu56537-4
	{
		margin-top: 38px;
		position: relative;
		width: 100%;
	}

	#u56537-4
	{
		z-index: 82;
		line-height: 21px;
		font-size: 15px;
		margin-right: -10000px;
		width: 32.23%;
		left: 17.71%;
	}

	#u56604-4
	{
		z-index: 86;
		line-height: 21px;
		font-size: 15px;
		margin-right: -10000px;
		width: 32.23%;
		left: 49.94%;
	}

	#pu56493
	{
		position: relative;
		width: 100%;
	}

	#u56493
	{
		z-index: 43;
		height: 588px;
		background-image: url("../images/81project_3.jpg");
		position: relative;
		margin-right: -10000px;
		width: 32.23%;
		left: 17.78%;
	}

	#u56586
	{
		z-index: 44;
		height: 588px;
		background-image: url("../images/81project_4.jpg");
		position: relative;
		margin-right: -10000px;
		width: 32.23%;
		left: 50%;
	}

	#u56739-7
	{
		z-index: 58;
		margin-top: 30px;
		width: 64.38%;
		left: 17.71%;
	}

	#u56643
	{
		z-index: 42;
		height: 527px;
		background-image: url("../images/81project_5.jpg");
		margin-top: 51px;
		position: relative;
		width: 64.38%;
		left: 17.85%;
	}

	#u55637-4
	{
		z-index: 45;
		margin-top: 15px;
		width: 64.38%;
		left: 17.85%;
	}

	#u56695
	{
		z-index: 40;
		height: 1231px;
		background-image: url("../images/81project_6.jpg");
		margin-top: 30px;
		width: 64.38%;
		left: 17.78%;
	}

	#u56783-13
	{
		z-index: 65;
		margin-top: 30px;
		width: 64.38%;
		left: 17.71%;
	}

	#u56374-2,#u56739-2,#u56783-2
	{
		font-size: 50px;
		line-height: 70px;
	}

	#u56819
	{
		z-index: 41;
		height: 1115px;
		background-image: url("../images/81project_7-u56819-fr.jpg");
		margin-top: 30px;
		position: relative;
		width: 64.38%;
		left: 17.78%;
	}

	#u55643-bw
	{
		z-index: 6;
		min-height: 6492px;
	}

	#pslideshowu55827,#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 126;
		min-height: 360px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 130;
		min-height: 360px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 138;
		min-height: 360px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 134;
		min-height: 360px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 360px;
		width: 25%;
		margin-left: 0%;
	}

	#u563,#u563-bw
	{
		z-index: 125;
	}

	#u44573-4
	{
		z-index: 142;
	}

	#u44573-4-bw
	{
		z-index: 142;
		margin-top: 27px;
	}
}

@media (min-width: 961px) and (max-width: 1140px)
{
	#muse_css_mq
	{
		background-color: #000474;
	}

	#bp_1140.active
	{
		display: block;
	}

	#page
	{
		min-height: 6776px;
		max-width: 1140px;
	}

	#slideshowu55827
	{
		z-index: 2;
		width: 0.01px;
		height: 600px;
		position: relative;
		margin-right: -10000px;
	}

	#u55829
	{
		position: absolute;
		width: 1140px;
		height: 600px;
		background-color: transparent;
	}

	#u55829popup
	{
		z-index: 3;
	}

	#u56896
	{
		z-index: 4;
		width: 1140px;
		height: 600px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-right: -10000px;
		position: relative;
	}

	.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
	{
		cursor: pointer;
	}

	.SSSlideLoading /* slideshowFreeStyle */
	{
		background: url("../images/loading.gif") no-repeat center center;
	}

	#u168
	{
		z-index: 99;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 100;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#u55732
	{
		z-index: 151;
		width: 70px;
	}

	#u55731-4
	{
		z-index: 152;
		width: 70px;
		min-height: 70px;
		line-height: 30px;
		font-size: 25px;
	}

	#u55731-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#pu55733
	{
		padding-bottom: 70px;
		margin-top: -600px;
		width: 100%;
	}

	#u55733
	{
		z-index: 146;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u55734-3
	{
		z-index: 147;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		line-height: 30px;
		color: #FFFFFF;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	#u55734-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	.nosvg #u55734-3,.nosvg #u55734-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u55734-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u55731-2,#u55734
	{
		padding-top: 21px;
	}

	#u55643
	{
		z-index: 6;
		min-height: 6216.549999999999px;
		background-color: #FFFFFF;
		padding-bottom: 0px;
	}

	#u55643_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
		padding-bottom: 50px;
	}

	#pu55739-4
	{
		position: relative;
	}

	#u55739-4
	{
		z-index: 91;
		width: 80px;
		min-height: 26px;
		line-height: 12px;
		color: #FFFFFF;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
		left: 9.92%;
	}

	#u55938-4
	{
		z-index: 95;
		width: 80px;
		min-height: 26px;
		line-height: 12px;
		color: #FFFFFF;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
		left: 18.6%;
	}

	#u55739-2,#u55938-2
	{
		padding-top: 7px;
	}

	#u55641-25
	{
		z-index: 7;
		min-height: 222px;
		margin-top: 50px;
		width: 80.18%;
		left: 9.92%;
	}

	#u55641-2
	{
		font-size: 90px;
		line-height: 108px;
	}

	#u55641-3,#u55641-6,#u55641-10,#u55641-23
	{
		font-size: 15px;
		line-height: 18px;
	}

	#u55641-17
	{
		font-weight: 600;
	}

	#u55642-7
	{
		z-index: 32;
		margin-top: 32px;
		width: 80.18%;
		left: 9.92%;
	}

	#u55640
	{
		z-index: 49;
		height: 568px;
		margin-top: 51px;
		position: relative;
		width: 80.18%;
		margin-left: 9.92%;
		left: 0px;
	}

	#u56374-8
	{
		z-index: 50;
		min-height: 57px;
		margin-top: 39px;
		width: 80.18%;
		left: 9.83%;
	}

	#u56413-4
	{
		z-index: 78;
		line-height: 21px;
		font-size: 15px;
		margin-top: 39px;
		width: 80.18%;
		left: 9.83%;
	}

	#u55639
	{
		z-index: 39;
		background-image: url("../images/81project_2.jpg");
		padding-bottom: 89px;
		width: 80.18%;
		left: 9.83%;
	}

	#u57195
	{
		z-index: 90;
		margin-top: 360px;
		width: 6.24%;
		left: 75.61%;
	}

	#pu56537-4
	{
		margin-top: 39px;
		position: relative;
		width: 100%;
	}

	#u56537-4
	{
		z-index: 82;
		line-height: 21px;
		font-size: 15px;
		margin-right: -10000px;
		width: 40.09%;
		left: 9.83%;
	}

	#u56604-4
	{
		z-index: 86;
		line-height: 21px;
		font-size: 15px;
		margin-right: -10000px;
		width: 40.09%;
		left: 49.92%;
	}

	#pu56493
	{
		position: relative;
		width: 100%;
	}

	#u56493
	{
		z-index: 43;
		height: 588px;
		background-image: url("../images/81project_3.jpg");
		position: relative;
		margin-right: -10000px;
		width: 40.09%;
		left: 9.83%;
	}

	#u56586
	{
		z-index: 44;
		height: 588px;
		background-image: url("../images/81project_4.jpg");
		position: relative;
		margin-right: -10000px;
		width: 40%;
		left: 50%;
	}

	#u56739-7
	{
		z-index: 58;
		margin-top: 39px;
		width: 80.09%;
		left: 9.92%;
	}

	#u56643
	{
		z-index: 42;
		height: 520px;
		background-image: url("../images/81project_5.jpg");
		margin-top: 60px;
		position: relative;
		width: 80.09%;
		left: 9.83%;
	}

	#u55637-4
	{
		z-index: 45;
		margin-top: 15px;
		width: 80%;
		left: 10%;
	}

	#u56695
	{
		z-index: 40;
		height: 1178px;
		background-image: url("../images/81project_6.jpg");
		margin-top: 30px;
		width: 80.18%;
		left: 9.83%;
	}

	#u56783-13
	{
		z-index: 65;
		margin-top: 30px;
		width: 80.18%;
		left: 9.83%;
	}

	#u56374-2,#u56739-2,#u56783-2
	{
		font-size: 50px;
		line-height: 70px;
	}

	#u56819
	{
		z-index: 41;
		height: 1115px;
		background-image: url("../images/81project_7-u56819-fr.jpg");
		margin-top: 29px;
		position: relative;
		width: 80.09%;
		left: 9.92%;
	}

	#u55643-bw
	{
		z-index: 6;
		min-height: 6216.549999999999px;
	}

	#pslideshowu55827,#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 126;
		min-height: 284px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 130;
		min-height: 284px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 138;
		min-height: 284px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 134;
		min-height: 284px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 284px;
		width: 25%;
		margin-left: 0%;
	}

	#pu563
	{
		margin-top: 1px;
	}

	#u563,#u563-bw
	{
		z-index: 125;
	}

	#u44573-4
	{
		z-index: 142;
	}

	#u44573-4-bw
	{
		z-index: 142;
		margin-top: 27px;
	}
}

@media (min-width: 769px) and (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		min-height: 6809px;
		max-width: 960px;
	}

	#slideshowu55827
	{
		z-index: 2;
		width: 0.01px;
		height: 600px;
		position: relative;
		margin-right: -10000px;
	}

	#u55829
	{
		position: absolute;
		width: 960px;
		height: 600px;
		background-color: transparent;
	}

	#u55829popup
	{
		z-index: 3;
	}

	#u56896
	{
		z-index: 4;
		width: 960px;
		height: 600px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-right: -10000px;
		position: relative;
	}

	.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
	{
		cursor: pointer;
	}

	.SSSlideLoading /* slideshowFreeStyle */
	{
		background: url("../images/loading.gif") no-repeat center center;
	}

	#u168
	{
		z-index: 99;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 100;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#u55732
	{
		z-index: 151;
		width: 70px;
	}

	#u55731-4
	{
		z-index: 152;
		width: 70px;
		min-height: 70px;
		line-height: 30px;
		font-size: 25px;
	}

	#u55731-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#pu55733
	{
		padding-bottom: 70px;
		margin-top: -600px;
		width: 100%;
	}

	#u55733
	{
		z-index: 146;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u55734-3
	{
		z-index: 147;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		line-height: 30px;
		color: #FFFFFF;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	#u55734-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	.nosvg #u55734-3,.nosvg #u55734-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u55734-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u55731-2,#u55734
	{
		padding-top: 21px;
	}

	#u55643
	{
		z-index: 6;
		min-height: 6209px;
		background-color: #FFFFFF;
	}

	#u55643_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
		padding-bottom: 50px;
	}

	#pu55739-4
	{
		position: relative;
	}

	#u55739-4
	{
		z-index: 91;
		width: 80px;
		min-height: 26px;
		line-height: 12px;
		color: #FFFFFF;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
		left: 2.09%;
	}

	#u55938-4
	{
		z-index: 95;
		width: 80px;
		min-height: 26px;
		line-height: 12px;
		color: #FFFFFF;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
		left: 12.09%;
	}

	#u55739-2,#u55938-2
	{
		padding-top: 7px;
	}

	#u55641-25
	{
		z-index: 7;
		min-height: 222px;
		margin-top: 50px;
		width: 95.84%;
		left: 2.09%;
	}

	#u55641-2
	{
		font-size: 80px;
		line-height: 96px;
	}

	#u55641-3,#u55641-6,#u55641-10,#u55641-23
	{
		font-size: 15px;
		line-height: 18px;
	}

	#u55641-17
	{
		font-weight: 600;
	}

	#u55642-7
	{
		z-index: 32;
		margin-top: 32px;
		width: 95.84%;
		left: 2.09%;
	}

	#u55640
	{
		z-index: 49;
		height: 631px;
		margin-top: 50px;
		position: relative;
		width: 95.84%;
		margin-left: 2.09%;
		left: 0px;
	}

	#u56374-8
	{
		z-index: 50;
		min-height: 57px;
		margin-top: 30px;
		width: 95.84%;
		left: 2.09%;
	}

	#u56413-4
	{
		z-index: 78;
		line-height: 21px;
		font-size: 15px;
		margin-top: 30px;
		width: 95.84%;
		left: 2.09%;
	}

	#u55639
	{
		z-index: 39;
		background-image: url("../images/81project_2.jpg");
		padding-bottom: 109px;
		width: 95.84%;
		left: 2.09%;
	}

	#u57195
	{
		z-index: 90;
		margin-top: 340px;
		width: 5.22%;
		left: 71.53%;
	}

	#pu56537-4
	{
		margin-top: 30px;
		position: relative;
		width: 100%;
	}

	#u56537-4
	{
		z-index: 82;
		line-height: 21px;
		font-size: 15px;
		margin-right: -10000px;
		width: 47.92%;
		left: 2.09%;
	}

	#u56604-4
	{
		z-index: 86;
		line-height: 21px;
		font-size: 15px;
		margin-right: -10000px;
		width: 47.92%;
		left: 50%;
	}

	#pu56493
	{
		top: -1px;
		margin-bottom: -1px;
		position: relative;
		width: 100%;
	}

	#u56493
	{
		z-index: 43;
		height: 588px;
		background-image: url("../images/81project_3.jpg");
		position: relative;
		margin-right: -10000px;
		margin-top: 1px;
		width: 47.92%;
		left: 2.09%;
	}

	#u56586
	{
		z-index: 44;
		height: 588px;
		background-image: url("../images/81project_4.jpg");
		position: relative;
		margin-right: -10000px;
		width: 47.92%;
		left: 50%;
	}

	#u56739-7
	{
		z-index: 58;
		margin-top: 29px;
		width: 95.73%;
		left: 2.09%;
	}

	#u56643
	{
		z-index: 42;
		height: 520px;
		background-image: url("../images/81project_5.jpg");
		margin-top: 51px;
		position: relative;
		width: 95.84%;
		left: 2.09%;
	}

	#u55637-4
	{
		z-index: 45;
		margin-top: 15px;
		width: 95.73%;
		left: 2.09%;
	}

	#u56695
	{
		z-index: 40;
		height: 1178px;
		background-image: url("../images/81project_6.jpg");
		margin-top: 30px;
		width: 95.94%;
		left: 2.09%;
	}

	#u56783-13
	{
		z-index: 65;
		margin-top: 30px;
		width: 95.84%;
		left: 2.09%;
	}

	#u56374-2,#u56739-2,#u56783-2
	{
		font-size: 50px;
		line-height: 70px;
	}

	#u56819
	{
		z-index: 41;
		height: 1115px;
		background-image: url("../images/81project_7-u56819-fr.jpg");
		margin-top: 30px;
		position: relative;
		width: 95.73%;
		left: 2.09%;
	}

	#u55643-bw
	{
		z-index: 6;
		min-height: 6209px;
	}

	#pslideshowu55827,#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 126;
		min-height: 240px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 130;
		min-height: 240px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 138;
		min-height: 240px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 134;
		min-height: 240px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 240px;
		width: 25%;
		margin-left: 0%;
	}

	#u563,#u563-bw
	{
		z-index: 125;
	}

	#u44573-4
	{
		z-index: 142;
	}

	#u44573-4-bw
	{
		z-index: 142;
		margin-top: 27px;
	}
}

@media (min-width: 517px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 6165px;
		max-width: 768px;
	}

	#slideshowu55827
	{
		z-index: 2;
		width: 0.01px;
		height: 600px;
		position: relative;
		margin-right: -10000px;
	}

	#u55829
	{
		position: absolute;
		width: 768px;
		height: 600px;
		background-color: transparent;
	}

	#u55829popup
	{
		z-index: 3;
	}

	#u56896
	{
		z-index: 4;
		width: 768px;
		height: 600px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-right: -10000px;
		position: relative;
	}

	.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
	{
		cursor: pointer;
	}

	.SSSlideLoading /* slideshowFreeStyle */
	{
		background: url("../images/loading.gif") no-repeat center center;
	}

	#u168
	{
		z-index: 99;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 100;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#u55732
	{
		z-index: 151;
		width: 70px;
	}

	#u55731-4
	{
		z-index: 152;
		width: 70px;
		min-height: 70px;
		line-height: 30px;
		font-size: 25px;
	}

	#u55731-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#pu55733
	{
		padding-bottom: 70px;
		margin-top: -600px;
		width: 100%;
	}

	#u55733
	{
		z-index: 146;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u55734-3
	{
		z-index: 147;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		line-height: 30px;
		color: #FFFFFF;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	#u55734-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	.nosvg #u55734-3,.nosvg #u55734-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u55734-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u55731-2,#u55734
	{
		padding-top: 21px;
	}

	#u55643
	{
		z-index: 6;
		min-height: 5565px;
		background-color: #FFFFFF;
	}

	#u55643_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
		padding-bottom: 50px;
	}

	#pu55739-4
	{
		position: relative;
	}

	#u55739-4
	{
		z-index: 91;
		width: 80px;
		min-height: 26px;
		line-height: 12px;
		color: #FFFFFF;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
		left: 2.61%;
	}

	#u55938-4
	{
		z-index: 95;
		width: 80px;
		min-height: 26px;
		line-height: 12px;
		color: #FFFFFF;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
		left: 16.15%;
	}

	#u55739-2,#u55938-2
	{
		padding-top: 7px;
	}

	#u55641-25
	{
		z-index: 7;
		min-height: 222px;
		margin-top: 50px;
		width: 94.8%;
		left: 2.61%;
	}

	#u55641-2
	{
		font-size: 80px;
		line-height: 96px;
	}

	#u55641-3,#u55641-6,#u55641-10,#u55641-23
	{
		font-size: 15px;
		line-height: 18px;
	}

	#u55641-17
	{
		font-weight: 600;
	}

	#u55642-7
	{
		z-index: 32;
		margin-top: 32px;
		width: 94.8%;
		left: 2.61%;
	}

	#u55640
	{
		z-index: 49;
		height: 490px;
		margin-top: 50px;
		position: relative;
		width: 94.8%;
		margin-left: 2.61%;
		left: 0px;
	}

	#u56374-8
	{
		z-index: 50;
		min-height: 57px;
		margin-top: 29px;
		width: 94.8%;
		left: 2.61%;
	}

	#u56413-4
	{
		z-index: 78;
		line-height: 21px;
		font-size: 15px;
		margin-top: 30px;
		width: 94.8%;
		left: 2.61%;
	}

	#u55639
	{
		z-index: 39;
		height: 373px;
		background-image: url("../images/81project_2-u55639-fr.jpg");
		width: 94.8%;
		left: 2.61%;
	}

	#ppu56537-4
	{
		margin-top: 24px;
		position: relative;
		width: 100%;
	}

	#pu56537-4
	{
		margin-right: -10000px;
		margin-top: 5px;
		width: 47.4%;
		margin-left: 2.61%;
	}

	#u56537-4
	{
		z-index: 82;
		line-height: 21px;
		font-size: 15px;
		width: 100%;
	}

	#u56493
	{
		z-index: 43;
		height: 477px;
		background-image: url("../images/81project_3-u56493-fr.jpg");
		position: relative;
		width: 100%;
	}

	#ppu56604-4
	{
		margin-right: -10000px;
		width: 47.4%;
		margin-left: 50%;
	}

	#u56604-4
	{
		z-index: 86;
		line-height: 21px;
		font-size: 15px;
		margin-right: -10000px;
		margin-top: 5px;
		width: 100%;
	}

	#u57195
	{
		z-index: 90;
		width: 10.44%;
		left: 43.96%;
	}

	#u56586
	{
		z-index: 44;
		height: 456px;
		background-image: url("../images/81project_4-u56586-fr.jpg");
		position: relative;
		width: 100%;
	}

	#u56739-7
	{
		z-index: 58;
		margin-top: 31px;
		width: 94.8%;
		left: 2.61%;
	}

	#u56643
	{
		z-index: 42;
		height: 411px;
		background-image: url("../images/81project_5-u56643-fr.jpg");
		margin-top: 51px;
		position: relative;
		width: 94.8%;
		left: 2.61%;
	}

	#u55637-4
	{
		z-index: 45;
		margin-top: 15px;
		width: 94.8%;
		left: 2.61%;
	}

	#u56695
	{
		z-index: 40;
		height: 896px;
		background-image: url("../images/81project_6-u56695-fr.jpg");
		margin-top: 30px;
		width: 94.8%;
		left: 2.61%;
	}

	#u56783-13
	{
		z-index: 65;
		margin-top: 30px;
		width: 94.8%;
		left: 2.61%;
	}

	#u56374-2,#u56739-2,#u56783-2
	{
		font-size: 50px;
		line-height: 70px;
	}

	#u56819
	{
		z-index: 41;
		height: 1115px;
		background-image: url("../images/81project_7-u56819-fr.jpg");
		margin-top: 30px;
		position: relative;
		width: 94.8%;
		left: 2.61%;
	}

	#u55643-bw
	{
		z-index: 6;
		min-height: 5565px;
	}

	#pslideshowu55827,#pu56604-4,#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 126;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 130;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 138;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 134;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 192px;
		width: 25%;
		margin-left: 0%;
	}

	#u563,#u563-bw
	{
		z-index: 125;
	}

	#u44573-4
	{
		z-index: 142;
	}

	#u44573-4-bw
	{
		z-index: 142;
		margin-top: 27px;
	}
}

@media (min-width: 321px) and (max-width: 516px)
{
	#muse_css_mq
	{
		background-color: #000204;
	}

	#bp_516.active
	{
		display: block;
	}

	#page
	{
		min-height: 4091.9500000000007px;
		padding-bottom: 0px;
		max-width: 516px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
		left: -56px;
	}

	#slideshowu55827
	{
		z-index: 2;
		width: 0.01px;
		height: 600px;
		position: relative;
		margin-right: -10000px;
	}

	#u55829
	{
		position: absolute;
		width: 516px;
		height: 600px;
		background-color: transparent;
	}

	#u55829popup
	{
		z-index: 3;
	}

	#u56896
	{
		z-index: 4;
		width: 516px;
		height: 600px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-right: -10000px;
		position: relative;
	}

	.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
	{
		cursor: pointer;
	}

	.SSSlideLoading /* slideshowFreeStyle */
	{
		background: url("../images/loading.gif") no-repeat center center;
	}

	#u63688
	{
		z-index: 121;
	}

	#u63698-3
	{
		z-index: 122;
		min-height: 20px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u63698-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 20px;
		margin: 0px 0px 0px 0%;
	}

	#u63689
	{
		z-index: 125;
	}

	#u63692
	{
		min-height: 36px;
		padding-bottom: 37px;
		position: relative;
	}

	#u63695-4
	{
		min-height: 36px;
		position: relative;
		top: 18px;
	}

	#u63825
	{
		min-height: 36px;
		padding-bottom: 38px;
		position: relative;
	}

	#u63826-4
	{
		min-height: 36px;
		position: relative;
		top: 19px;
	}

	#u63919
	{
		min-height: 36px;
		padding-bottom: 38px;
		position: relative;
	}

	#u63920-4
	{
		min-height: 36px;
		position: relative;
		top: 19px;
	}

	#u70870
	{
		min-height: 36px;
		padding-bottom: 38px;
		position: relative;
	}

	#u70873-4
	{
		min-height: 36px;
		position: relative;
		top: 19px;
	}

	#u64101
	{
		min-height: 36px;
		padding-bottom: 38px;
		position: relative;
	}

	#u63692.MuseMenuActive,#u63825.MuseMenuActive,#u63919.MuseMenuActive,#u70870.MuseMenuActive,#u64101.MuseMenuActive
	{
		min-height: 36px;
		margin: 0px 0px 0px 0%;
	}

	#u64104-4
	{
		min-height: 36px;
		position: relative;
		top: 19px;
	}

	#u63692.MuseMenuActive #u63695-4,#u63825.MuseMenuActive #u63826-4,#u63919.MuseMenuActive #u63920-4,#u70870.MuseMenuActive #u70873-4,#u64101.MuseMenuActive #u64104-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 36px;
		margin: 0px 0px 0px 0%;
	}

	#u63822,#u63918,#u70869,#u64100
	{
		margin-top: 2px;
	}

	#menuu63690,#menuu63690-bw
	{
		z-index: 126;
		min-height: 377px;
	}

	#accordionu63687,#accordionu63687-bw
	{
		z-index: 120;
	}

	#u55732
	{
		z-index: 162;
		width: 40px;
	}

	#u55731-4
	{
		z-index: 163;
		width: 40px;
		min-height: 40px;
		line-height: 24px;
		font-size: 20px;
	}

	#u55731-4:hover
	{
		min-height: 40px;
		width: 40px;
	}

	#pu55733
	{
		padding-bottom: 40px;
		margin-top: -600px;
		width: 100%;
	}

	#u55733
	{
		z-index: 157;
		width: 40px;
		height: 40px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u55734-3
	{
		z-index: 158;
		width: 40px;
		min-height: 40px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		line-height: 24px;
		color: #FFFFFF;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	#u55734-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 40px;
		width: 40px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	.nosvg #u55734-3,.nosvg #u55734-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u55734-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u55731-2,#u55734
	{
		padding-top: 8px;
	}

	#u55643
	{
		z-index: 6;
		min-height: 3453px;
		background-color: #FFFFFF;
	}

	#u55643_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
		padding-bottom: 30px;
	}

	#pu55739-4
	{
		position: relative;
	}

	#u55739-4
	{
		z-index: 91;
		width: 60px;
		min-height: 20px;
		line-height: 10px;
		left: 3.88%;
	}

	#u55938-4
	{
		z-index: 95;
		width: 60px;
		min-height: 20px;
		line-height: 10px;
		left: 18.22%;
	}

	#u55641-25
	{
		z-index: 7;
		min-height: 64px;
		margin-top: 30px;
		width: 92.25%;
		left: 3.88%;
	}

	#u55641-2
	{
		font-size: 40px;
		line-height: 48px;
	}

	#u55641-3,#u55641-6,#u55641-10,#u55641-23
	{
		font-size: 10px;
		line-height: 12px;
	}

	#u55641-17
	{
		font-weight: 600;
	}

	#u55642-7
	{
		z-index: 32;
		line-height: 14px;
		font-size: 10px;
		margin-top: 17px;
		width: 92.25%;
		left: 3.88%;
	}

	#u55640
	{
		z-index: 49;
		height: 320px;
		margin-top: 30px;
		position: relative;
		width: 92.25%;
		margin-left: 3.88%;
		left: 0px;
	}

	#u56374-8
	{
		z-index: 50;
		min-height: 139px;
		margin-top: 15px;
		width: 92.25%;
		left: 3.88%;
	}

	#u56374-6
	{
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u56374-5
	{
		line-height: 21px;
	}

	#u56413-4
	{
		z-index: 78;
		line-height: 14px;
		font-size: 10px;
		margin-top: 16px;
		width: 92.25%;
		left: 3.88%;
	}

	#u55639
	{
		z-index: 39;
		height: 247px;
		background-image: url("../images/81project_2-u55639-fr2.jpg");
		width: 92.25%;
		left: 3.88%;
	}

	#ppu56537-4
	{
		margin-top: 15px;
		position: relative;
		width: 100%;
	}

	#pu56537-4
	{
		margin-right: -10000px;
		width: 46.13%;
		margin-left: 3.88%;
	}

	#u56537-4
	{
		z-index: 82;
		line-height: 14px;
		font-size: 10px;
		width: 100%;
	}

	#u56493
	{
		z-index: 43;
		height: 330px;
		background-image: url("../images/81project_3-u56493-fr2.jpg");
		position: relative;
		width: 100%;
	}

	#pu56604-4
	{
		margin-right: -10000px;
		width: 46.13%;
		margin-left: 50%;
	}

	#u56604-4
	{
		z-index: 86;
		line-height: 14px;
		font-size: 10px;
		width: 100%;
	}

	#u56586
	{
		z-index: 44;
		height: 316px;
		background-image: url("../images/81project_4-u56586-fr2.jpg");
		position: relative;
		width: 100%;
	}

	#u56739-7
	{
		z-index: 58;
		margin-top: 15px;
		width: 92.25%;
		left: 3.88%;
	}

	#u56643
	{
		z-index: 42;
		background-image: url("../images/81project_5-u56643-fr2.jpg");
		padding-bottom: 59px;
		margin-top: 15px;
		position: relative;
		width: 92.25%;
		left: 3.88%;
	}

	#u57195
	{
		z-index: 90;
		margin-top: 189px;
		width: 5.47%;
		left: 73.32%;
	}

	#u55637-4
	{
		z-index: 45;
		margin-top: 5px;
		width: 92.25%;
		left: 3.88%;
	}

	#u56695
	{
		z-index: 40;
		height: 594px;
		background-image: url("../images/81project_6-u56695-fr2.jpg");
		margin-top: 15px;
		width: 92.25%;
		left: 3.88%;
	}

	#u56783-13
	{
		z-index: 65;
		margin-top: 15px;
		width: 92.25%;
		left: 3.88%;
	}

	#u56374-2,#u56739-2,#u56783-2
	{
		font-size: 30px;
		line-height: 42px;
	}

	#u56374-4,#u56739-3,#u56739-5,#u56783-3,#u56783-5,#u56783-6,#u56783-8,#u56783-9,#u56783-11
	{
		font-size: 10px;
		line-height: 14px;
	}

	#u56819
	{
		z-index: 41;
		height: 580px;
		background-image: url("../images/81project_7-u56819-fr2.jpg");
		margin-top: 15px;
		position: relative;
		width: 92.25%;
		left: 3.88%;
	}

	#u55643-bw
	{
		z-index: 6;
		min-height: 3453px;
	}

	#ptop,#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 100;
		min-height: 140px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 104;
		min-height: 140px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 112;
		min-height: 140px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 108;
		min-height: 140px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 140px;
		width: 25%;
		margin-left: 0%;
	}

	#u563,#u563-bw
	{
		z-index: 99;
	}

	#u44573-4
	{
		z-index: 116;
	}

	#u44573-4-bw
	{
		z-index: 116;
		margin-top: 28px;
	}

}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 5272.95px;
		padding-bottom: 0px;
		max-width: 320px;
	}

	#u63688
	{
		z-index: 116;
	}

	#u63698-3
	{
		z-index: 117;
		min-height: 19px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u63698-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 19px;
		margin: 0px 0px 0px 0%;
	}

	#u63689
	{
		z-index: 120;
	}

	#u63692
	{
		min-height: 36px;
		padding-bottom: 44px;
		position: relative;
	}

	#u63695-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u63825
	{
		min-height: 36px;
		padding-bottom: 44px;
		position: relative;
	}

	#u63826-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u63919
	{
		min-height: 36px;
		padding-bottom: 44px;
		position: relative;
	}

	#u63920-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u70870
	{
		min-height: 36px;
		padding-bottom: 45px;
		position: relative;
	}

	#u70873-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u64101
	{
		min-height: 36px;
		padding-bottom: 45px;
		position: relative;
	}

	#u63692.MuseMenuActive,#u63825.MuseMenuActive,#u63919.MuseMenuActive,#u70870.MuseMenuActive,#u64101.MuseMenuActive
	{
		min-height: 36px;
		margin: 0px 0px 0px 0%;
	}

	#u64104-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u63692.MuseMenuActive #u63695-4,#u63825.MuseMenuActive #u63826-4,#u63919.MuseMenuActive #u63920-4,#u70870.MuseMenuActive #u70873-4,#u64101.MuseMenuActive #u64104-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 36px;
		margin: 0px 0px 0px 0%;
	}

	#u63822,#u63918,#u70869,#u64100
	{
		margin-top: 2px;
	}

	#menuu63690,#menuu63690-bw
	{
		z-index: 121;
		min-height: 410px;
	}

	#accordionu63687,#accordionu63687-bw
	{
		z-index: 115;
	}

	#u55732
	{
		z-index: 152;
		width: 40px;
		margin-top: 1px;
	}

	#u55731-4
	{
		z-index: 153;
		width: 40px;
		min-height: 40px;
		line-height: 24px;
		font-size: 20px;
	}

	#u55731-4:hover
	{
		min-height: 40px;
		width: 40px;
	}

	#u55731-2
	{
		padding-top: 8px;
	}

	#pu55739-4
	{
		margin-top: 30px;
	}

	#u55739-4
	{
		z-index: 86;
		width: 60px;
		min-height: 20px;
		line-height: 10px;
		left: 6.25%;
	}

	#u55938-4
	{
		z-index: 90;
		width: 60px;
		min-height: 20px;
		line-height: 10px;
		left: 29.69%;
	}

	#u55641-25
	{
		z-index: 2;
		min-height: 64px;
		margin-top: 30px;
		width: 87.5%;
		margin-left: 6.25%;
	}

	#u55641-2
	{
		font-size: 40px;
		line-height: 48px;
	}

	#u55641-3,#u55641-6,#u55641-10,#u55641-23
	{
		font-size: 15px;
		line-height: 18px;
	}

	#u55641-17
	{
		font-weight: 600;
	}

	#u55642-7
	{
		z-index: 27;
		margin-top: 12px;
		width: 87.5%;
		margin-left: 6.25%;
	}

	#u55642-2,#u55642-3,#u55642-5
	{
		padding-left: 1px;
	}

	#u55640
	{
		z-index: 44;
		height: 221px;
	}

	#u55640-bw
	{
		z-index: 44;
		margin-top: 30px;
		height: 221px;
	}

	#u56374-8
	{
		z-index: 45;
		min-height: 139px;
		margin-top: 30px;
		width: 87.5%;
		margin-left: 6.25%;
	}

	#u56413-4
	{
		z-index: 73;
		line-height: 21px;
		font-size: 15px;
		margin-top: 30px;
		width: 87.5%;
		margin-left: 6.25%;
	}

	#u55639
	{
		z-index: 34;
		height: 160px;
		background-image: url("../images/81project_2-u55639-fr3.jpg");
		width: 100%;
	}

	#u56537-4
	{
		z-index: 77;
		line-height: 21px;
		font-size: 15px;
		margin-top: 30px;
		width: 87.5%;
		margin-left: 6.25%;
	}

	#u56493
	{
		z-index: 38;
		height: 332px;
		background-image: url("../images/81project_3-u56493-fr3.jpg");
	}

	#u56493-bw
	{
		z-index: 38;
		margin-top: -1px;
		margin-bottom: -1px;
		height: 332px;
	}

	#page_position_content,#paccordionu63687,#pu56586
	{
		width: 100%;
	}

	#u56586
	{
		z-index: 39;
		min-height: 63px;
		background-image: url("../images/81project_4.jpg");
		padding-bottom: 343px;
	}

	#u56586_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
	}

	#u56604-4
	{
		z-index: 81;
		line-height: 21px;
		font-size: 15px;
		margin-right: -10000px;
		width: 87.5%;
		left: 6.25%;
	}

	#u56586-bw
	{
		z-index: 39;
		min-height: 63px;
	}

	#u56739-7
	{
		z-index: 53;
		margin-right: -10000px;
		margin-top: 343px;
		width: 87.5%;
		left: 6.25%;
	}

	#pu56643
	{
		margin-top: 31px;
		width: 100%;
	}

	#u56643
	{
		z-index: 37;
		height: 182px;
		background-image: url("../images/81project_5-u56643-fr3.jpg");
	}

	#u56643-bw
	{
		z-index: 37;
		height: 182px;
	}

	#u57195
	{
		z-index: 85;
		margin-top: 2px;
		width: 5%;
		left: 186.88%;
	}

	#u55637-4
	{
		z-index: 40;
		margin-top: 14px;
		width: 87.5%;
		margin-left: 6.25%;
	}

	#u56695
	{
		z-index: 35;
		height: 426px;
		background-image: url("../images/81project_6-u56695-fr3.jpg");
		margin-top: 30px;
		width: 100.63%;
	}

	#u56783-13
	{
		z-index: 60;
		margin-top: 30px;
		width: 87.5%;
		margin-left: 6.25%;
	}

	#u56374-2,#u56739-2,#u56783-2
	{
		font-size: 30px;
		line-height: 42px;
	}

	#u56739-3,#u56739-5,#u56783-3,#u56783-5,#u56783-6,#u56783-8,#u56783-9,#u56783-11
	{
		font-size: 15px;
		line-height: 21px;
	}

	#u56819
	{
		z-index: 36;
		height: 580px;
		background-image: url("../images/81project_7.jpg");
	}

	#u56819-bw
	{
		z-index: 36;
		margin-top: 30px;
		height: 580px;
	}

	#u44404-4
	{
		z-index: 95;
		min-height: 80px;
	}

	#u44404-4-bw
	{
		z-index: 95;
		min-height: 80px;
		margin-top: 30px;
	}

	#u44405-4
	{
		z-index: 99;
		min-height: 80px;
	}

	#u44405-4-bw
	{
		z-index: 99;
		min-height: 80px;
	}

	#u44407-4
	{
		z-index: 107;
		min-height: 80px;
	}

	#u44407-4-bw
	{
		z-index: 107;
		min-height: 80px;
	}

	#u44406-4
	{
		z-index: 103;
		min-height: 80px;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-left: 0px;
		margin-right: 0px;
		min-height: 80px;
	}

	#u44406-4-bw
	{
		z-index: 103;
		min-height: 80px;
	}

	#u563,#u563-bw
	{
		z-index: 94;
	}

	#u44573-4
	{
		z-index: 111;
	}

	#u44573-4-bw
	{
		z-index: 111;
		margin-top: 27px;
	}

	body
	{
		min-width: 320px;
	}

}

