.version.blog /* version checker */
{
	color: #0000F8;
	background-color: #547562;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	z-index: 1;
	background-image: none;
	background-color: transparent;
	width: 100%;
	border-color: #000000;
	border-width: 0px;
	margin-right: auto;
	margin-left: auto;
}

#u61495
{
	position: relative;
	background-color: #231F20;
	margin-right: -10000px;
}

#u61496-4
{
	font-weight: bold;
	-webkit-transition-delay: 0s;
	transition-timing-function: ease;
	position: relative;
	background-image: url("../images/blank.gif");
	-webkit-transition-timing-function: ease;
	-webkit-transition-duration: 1s;
	text-align: center;
	transition-delay: 0s;
	margin-right: -10000px;
	transition-duration: 1s;
	color: #FFFFFF;
	background-color: transparent;
}

#u61496-4:hover
{
	padding-bottom: 0px;
	background-color: #FFDE00;
	padding-top: 0px;
	margin: 0px -10000px 0px 0px;
}

#u61496-4:hover p
{
	visibility: inherit;
	color: #000000;
}

#u8294
{
	border-width: 0px;
	max-width: 100000px;
	background-color: #FFFFFF;
	border-color: transparent;
	height: 670px;
}

#u8294-bw
{
	height: 670px;
}

#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
{
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
}

#u563,#u563-bw
{
	height: 70px;
}

#u44573-4,#u44573-4-bw
{
	min-height: 14px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1141px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 935.9749999999999px;
		padding-bottom: 0px;
	}

	#pu61493
	{
		padding-bottom: 70px;
		width: 100%;
	}

	#u61493
	{
		z-index: 51;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u61494-3
	{
		z-index: 52;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		color: #FFFFFF;
		line-height: 30px;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	#u61494-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	.nosvg #u61494-3,.nosvg #u61494-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u61494-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#pu168
	{
		margin-top: -70px;
		width: 100%;
	}

	#u168
	{
		z-index: 2;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 3;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u61495
	{
		z-index: 55;
		width: 70px;
	}

	#u61496-4
	{
		z-index: 56;
		width: 70px;
		min-height: 70px;
		line-height: 30px;
		font-size: 25px;
	}

	#u61496-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#u61494,#u61496-2
	{
		padding-top: 21px;
	}

	#u8294,#u8294-bw
	{
		z-index: 49;
	}

	#u44404-4
	{
		z-index: 29;
		min-height: 360px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 33;
		min-height: 360px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 41;
		min-height: 360px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 37;
		min-height: 360px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 360px;
		width: 25%;
		margin-left: 0%;
	}

	#pu44404-4,#pu563
	{
		width: 100%;
	}

	#u563,#u563-bw
	{
		z-index: 28;
	}

	#u44573-4
	{
		z-index: 45;
	}

	#u44573-4-bw
	{
		z-index: 45;
		margin-top: 27px;
	}
}

@media (min-width: 961px) and (max-width: 1140px)
{
	#muse_css_mq
	{
		background-color: #000474;
	}

	#bp_1140.active
	{
		display: block;
	}

	#page
	{
		min-height: 747.9750000000001px;
		padding-bottom: 0px;
		max-width: 1140px;
	}

	#u168
	{
		z-index: 2;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 3;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u61495
	{
		z-index: 55;
		width: 70px;
	}

	#u61496-4
	{
		z-index: 56;
		width: 70px;
		min-height: 70px;
		line-height: 30px;
		font-size: 25px;
	}

	#u61496-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#pu61493
	{
		padding-bottom: 70px;
		margin-top: -70px;
		width: 100%;
	}

	#u61493
	{
		z-index: 51;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u61494-3
	{
		z-index: 52;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		color: #FFFFFF;
		line-height: 30px;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	#u61494-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	.nosvg #u61494-3,.nosvg #u61494-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u61494-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u61496-2,#u61494
	{
		padding-top: 21px;
	}

	#u8294,#u8294-bw
	{
		z-index: 49;
	}

	#pu168,#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 29;
		min-height: 284px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 33;
		min-height: 284px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 41;
		min-height: 284px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 37;
		min-height: 284px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 284px;
		width: 25%;
		margin-left: 0%;
	}

	#pu563
	{
		margin-top: 1px;
		width: 100%;
	}

	#u563,#u563-bw
	{
		z-index: 28;
	}

	#u44573-4
	{
		z-index: 45;
	}

	#u44573-4-bw
	{
		z-index: 45;
		margin-top: 27px;
	}
}

@media (min-width: 769px) and (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		min-height: 820px;
		max-width: 960px;
	}

	#u168
	{
		z-index: 2;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 3;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u61495
	{
		z-index: 55;
		width: 70px;
	}

	#u61496-4
	{
		z-index: 56;
		width: 70px;
		min-height: 70px;
		line-height: 30px;
		font-size: 25px;
	}

	#u61496-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#pu61493
	{
		padding-bottom: 70px;
		margin-top: -70px;
		width: 100%;
	}

	#u61493
	{
		z-index: 51;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u61494-3
	{
		z-index: 52;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		color: #FFFFFF;
		line-height: 30px;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	#u61494-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	.nosvg #u61494-3,.nosvg #u61494-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u61494-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u61496-2,#u61494
	{
		padding-top: 21px;
	}

	#u8294,#u8294-bw
	{
		z-index: 49;
	}

	#u44404-4
	{
		z-index: 29;
		min-height: 240px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 33;
		min-height: 240px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 41;
		min-height: 240px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 37;
		min-height: 240px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 240px;
		width: 25%;
		margin-left: 0%;
	}

	#page_position_content,#pu168,#pu44404-4,#pu563
	{
		width: 100%;
	}

	#u563,#u563-bw
	{
		z-index: 28;
	}

	#u44573-4
	{
		z-index: 45;
	}

	#u44573-4-bw
	{
		z-index: 45;
		margin-top: 27px;
	}
}

@media (min-width: 517px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 820px;
		max-width: 768px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
		left: -215px;
	}

	#u61494-3
	{
		z-index: 52;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		color: #FFFFFF;
		line-height: 30px;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	#u61494-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	.nosvg #u61494-3,.nosvg #u61494-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u61494-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u61493
	{
		z-index: 51;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#ppu168
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
	}

	#u168
	{
		z-index: 2;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 3;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u61495
	{
		z-index: 55;
		width: 70px;
	}

	#u61496-4
	{
		z-index: 56;
		width: 70px;
		min-height: 70px;
		line-height: 30px;
		font-size: 25px;
	}

	#u61496-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#u61494,#u61496-2
	{
		padding-top: 21px;
	}

	#u8294,#u8294-bw
	{
		z-index: 49;
	}

	#ppu44404-4
	{
		margin-right: -10000px;
		width: 100%;
	}

	#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 29;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 33;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 41;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 37;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 192px;
		width: 25%;
		margin-left: 0%;
	}

	#pu168,#pu563
	{
		width: 0.01px;
	}

	#u563,#u563-bw
	{
		z-index: 28;
	}

	#u44573-4
	{
		z-index: 45;
	}

	#u44573-4-bw
	{
		z-index: 45;
		margin-top: 27px;
	}

	.verticalspacer
	{
		min-height: 1px;
	}
}

@media (min-width: 321px) and (max-width: 516px)
{
	#muse_css_mq
	{
		background-color: #000204;
	}

	#bp_516.active
	{
		display: block;
	}

	#page
	{
		min-height: 627px;
		max-width: 516px;
	}

	#u63688
	{
		z-index: 24;
	}

	#u63698-3
	{
		z-index: 25;
		min-height: 20px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u63698-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 20px;
		margin: 0px 0px 0px 0%;
	}

	#u63689
	{
		z-index: 28;
	}

	#u63692
	{
		min-height: 36px;
		padding-bottom: 37px;
		position: relative;
	}

	#u63695-4
	{
		min-height: 36px;
		position: relative;
		top: 18px;
	}

	#u63825
	{
		min-height: 36px;
		padding-bottom: 38px;
		position: relative;
	}

	#u63826-4
	{
		min-height: 36px;
		position: relative;
		top: 19px;
	}

	#u63919
	{
		min-height: 36px;
		padding-bottom: 38px;
		position: relative;
	}

	#u63920-4
	{
		min-height: 36px;
		position: relative;
		top: 19px;
	}

	#u70870
	{
		min-height: 36px;
		padding-bottom: 38px;
		position: relative;
	}

	#u70873-4
	{
		min-height: 36px;
		position: relative;
		top: 19px;
	}

	#u64101
	{
		min-height: 36px;
		padding-bottom: 38px;
		position: relative;
	}

	#u63692.MuseMenuActive,#u63825.MuseMenuActive,#u63919.MuseMenuActive,#u70870.MuseMenuActive,#u64101.MuseMenuActive
	{
		min-height: 36px;
		margin: 0px 0px 0px 0%;
	}

	#u64104-4
	{
		min-height: 36px;
		position: relative;
		top: 19px;
	}

	#u63692.MuseMenuActive #u63695-4,#u63825.MuseMenuActive #u63826-4,#u63919.MuseMenuActive #u63920-4,#u70870.MuseMenuActive #u70873-4,#u64101.MuseMenuActive #u64104-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 36px;
		margin: 0px 0px 0px 0%;
	}

	#u63822,#u63918,#u70869,#u64100
	{
		margin-top: 2px;
	}

	#menuu63690,#menuu63690-bw
	{
		z-index: 29;
		min-height: 377px;
	}

	#accordionu63687,#accordionu63687-bw
	{
		z-index: 23;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#u61493
	{
		z-index: 62;
		width: 40px;
		background-color: #231F20;
		position: relative;
		margin-right: -10000px;
	}

	#u61494-3
	{
		z-index: 63;
		width: 40px;
		min-height: 40px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		color: #FFFFFF;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		position: relative;
		margin-right: -10000px;
		background: transparent url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	#u61494-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 40px;
		width: 40px;
		margin: 0px -10000px 0px 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	.nosvg #u61494-3,.nosvg #u61494-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u61494-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u61495
	{
		z-index: 66;
		width: 40px;
	}

	#u61496-4
	{
		z-index: 67;
		width: 40px;
		min-height: 40px;
		line-height: 24px;
		font-size: 20px;
	}

	#u61496-4:hover
	{
		min-height: 40px;
		width: 40px;
	}

	#u61494,#u61496-2
	{
		padding-top: 8px;
	}

	#u8294,#u8294-bw
	{
		z-index: 60;
	}

	#u44404-4
	{
		z-index: 3;
		min-height: 140px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 7;
		min-height: 140px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 15;
		min-height: 140px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 11;
		min-height: 140px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 140px;
		width: 25%;
		margin-left: 0%;
	}

	#paccordionu63687,#pu44404-4,#pu563
	{
		width: 100%;
	}

	#u563,#u563-bw
	{
		z-index: 2;
	}

	#u44573-4
	{
		z-index: 19;
	}

	#u44573-4-bw
	{
		z-index: 19;
		margin-top: 28px;
	}

}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 840px;
		max-width: 320px;
	}

	#u63688
	{
		z-index: 24;
	}

	#u63698-3
	{
		z-index: 25;
		min-height: 19px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u63698-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 19px;
		margin: 0px 0px 0px 0%;
	}

	#u63689
	{
		z-index: 28;
	}

	#u63692
	{
		min-height: 36px;
		padding-bottom: 44px;
		position: relative;
	}

	#u63695-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u63825
	{
		min-height: 36px;
		padding-bottom: 44px;
		position: relative;
	}

	#u63826-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u63919
	{
		min-height: 36px;
		padding-bottom: 44px;
		position: relative;
	}

	#u63920-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u70870
	{
		min-height: 36px;
		padding-bottom: 45px;
		position: relative;
	}

	#u70873-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u64101
	{
		min-height: 36px;
		padding-bottom: 45px;
		position: relative;
	}

	#u63692.MuseMenuActive,#u63825.MuseMenuActive,#u63919.MuseMenuActive,#u70870.MuseMenuActive,#u64101.MuseMenuActive
	{
		min-height: 36px;
		margin: 0px 0px 0px 0%;
	}

	#u64104-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u63692.MuseMenuActive #u63695-4,#u63825.MuseMenuActive #u63826-4,#u63919.MuseMenuActive #u63920-4,#u70870.MuseMenuActive #u70873-4,#u64101.MuseMenuActive #u64104-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 36px;
		margin: 0px 0px 0px 0%;
	}

	#u63822,#u63918,#u70869,#u64100
	{
		margin-top: 2px;
	}

	#menuu63690,#menuu63690-bw
	{
		z-index: 29;
		min-height: 410px;
	}

	#accordionu63687,#accordionu63687-bw
	{
		z-index: 23;
	}

	#u61495
	{
		z-index: 61;
		width: 40px;
	}

	#u61496-4
	{
		z-index: 62;
		width: 40px;
		min-height: 40px;
		line-height: 24px;
		font-size: 20px;
	}

	#u61496-4:hover
	{
		min-height: 40px;
		width: 40px;
	}

	#u61496-2
	{
		padding-top: 8px;
	}

	#u8294,#u8294-bw
	{
		z-index: 60;
	}

	#u44404-4
	{
		z-index: 3;
		min-height: 80px;
	}

	#u44404-4-bw
	{
		z-index: 3;
		min-height: 80px;
	}

	#u44405-4
	{
		z-index: 7;
		min-height: 80px;
	}

	#u44405-4-bw
	{
		z-index: 7;
		min-height: 80px;
	}

	#u44407-4
	{
		z-index: 15;
		min-height: 80px;
	}

	#u44407-4-bw
	{
		z-index: 15;
		min-height: 80px;
	}

	#u44406-4
	{
		z-index: 11;
		min-height: 80px;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-left: 0px;
		margin-right: 0px;
		min-height: 80px;
	}

	#u44406-4-bw
	{
		z-index: 11;
		min-height: 80px;
	}

	#paccordionu63687,#pu563
	{
		width: 100%;
	}

	#u563,#u563-bw
	{
		z-index: 2;
	}

	#u44573-4
	{
		z-index: 19;
	}

	#u44573-4-bw
	{
		z-index: 19;
		margin-top: 27px;
	}

	body
	{
		min-width: 320px;
	}

}

