.version.contact /* version checker */
{
	color: #00001C;
	background-color: #D1F7A6;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	z-index: 1;
	background-image: none;
	background-color: transparent;
	width: 100%;
	border-color: #000000;
	border-width: 0px;
	margin-right: auto;
	margin-left: auto;
}

#pu70965-9
{
	margin-right: -10000px;
}

#u70965-9
{
	font-family: open-sans, sans-serif;
	background-color: transparent;
	font-weight: 700;
	color: #FFFFFF;
	position: relative;
}

#u70965-7
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u70965-3,#u70965-5
{
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: league-gothic, sans-serif;
}

#u70967
{
	-webkit-transition-delay: 0s;
	border-radius: 32px;
	transition-duration: 0s;
	position: relative;
	transition-delay: 0s;
	-webkit-transition-duration: 0s;
	background: transparent url("../images/social_facebook_white.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u70967
{
	background-image: url('../images/social_facebook_white_poster_u9075.png');
}

#u70967:hover
{
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	margin-bottom: 0px;
	transition-duration: 0.5s;
	min-height: 0px;
	transition-timing-function: ease;
	transition-delay: 0s;
	background: transparent url("../images/social_facebook.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u70967:hover
{
	background-image: url('../images/social_facebook_poster_u2162.png');
}

#u70968
{
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0s;
	border-radius: 32px;
	transition-duration: 0s;
	margin-right: -10000px;
	position: relative;
	transition-delay: 0s;
	background: transparent url("../images/social_twitter_white.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u70968
{
	background-image: url('../images/social_twitter_white_poster_u9083.png');
}

#u70968:hover
{
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	margin-bottom: 0px;
	transition-duration: 0.5s;
	margin-right: -10000px;
	min-height: 0px;
	transition-timing-function: ease;
	transition-delay: 0s;
	background: transparent url("../images/social_twitter.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u70968:hover
{
	background-image: url('../images/social_twitter_poster_u2260.png');
}

#u70969
{
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0s;
	border-radius: 32px;
	transition-duration: 0s;
	margin-right: -10000px;
	position: relative;
	transition-delay: 0s;
	background: transparent url("../images/social_linkedin_white.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u70969
{
	background-image: url('../images/social_linkedin_white_poster_u9091.png');
}

#u70969:hover
{
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	margin-bottom: 0px;
	transition-duration: 0.5s;
	margin-right: -10000px;
	min-height: 0px;
	transition-timing-function: ease;
	transition-delay: 0s;
	background: transparent url("../images/social_linkedin.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u70969:hover
{
	background-image: url('../images/social_linkedin_poster_u2276.png');
}

#u70970
{
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0s;
	border-radius: 32px;
	transition-duration: 0s;
	margin-right: -10000px;
	position: relative;
	transition-delay: 0s;
	background: transparent url("../images/social_behance_white.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u70970
{
	background-image: url('../images/social_behance_white_poster_u9123.png');
}

#u70970:hover
{
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	margin-bottom: 0px;
	transition-duration: 0.5s;
	margin-right: -10000px;
	min-height: 0px;
	transition-timing-function: ease;
	transition-delay: 0s;
	background: transparent url("../images/social_behance.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u70970:hover
{
	background-image: url('../images/social_behance_poster_u9115.png');
}

#u70966-9
{
	font-weight: 300;
	color: #FFFFFF;
	position: relative;
	background-color: transparent;
}

#u70965-6,#u70966
{
	font-weight: 300;
	font-family: open-sans, sans-serif;
}

#u70966-3,#u70966-5,#u70966-7
{
	font-family: open-sans, sans-serif;
}

#u70964
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	opacity: 0.2;
	filter: alpha(opacity=20);
	background: transparent url("../images/dots_2.png") no-repeat center center;
	background-size: cover;
}

#u74187
{
	position: relative;
	background-color: #231F20;
	margin-right: -10000px;
}

#u74188-4
{
	font-weight: bold;
	-webkit-transition-delay: 0s;
	transition-timing-function: ease;
	position: relative;
	background-image: url("../images/blank.gif");
	-webkit-transition-timing-function: ease;
	-webkit-transition-duration: 1s;
	text-align: center;
	transition-delay: 0s;
	margin-right: -10000px;
	transition-duration: 1s;
	color: #FFFFFF;
	background-color: transparent;
}

#u74188-4:hover
{
	padding-bottom: 0px;
	background-color: #FFDE00;
	padding-top: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74188-4:hover p
{
	visibility: inherit;
	color: #000000;
}

#u70962
{
	top: 0px;
	position: fixed;
	background: #231F20 url("../images/background.jpg") no-repeat center center;
	background-size: cover;
}

#u70963
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: 0.5;
	filter: alpha(opacity=50);
	background-color: #000000;
	position: fixed;
}

#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
{
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
}

#u563,#u563-bw
{
	height: 70px;
}

#u44573-4,#u44573-4-bw
{
	min-height: 14px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1141px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1294px;
	}

	#pu70964
	{
		width: 0.01px;
		margin-right: -10000px;
	}

	#u70964,#u70964-bw
	{
		z-index: 4;
		height: 868px;
	}

	#u168
	{
		z-index: 27;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 28;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u74185
	{
		z-index: 75;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u74187
	{
		z-index: 79;
		width: 70px;
	}

	#u74188-4
	{
		z-index: 80;
		width: 70px;
		min-height: 70px;
		line-height: 30px;
		font-size: 25px;
	}

	#u74188-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#pu70962
	{
		width: 0.01px;
		padding-bottom: 868px;
		margin-right: -10000px;
	}

	#u70962
	{
		z-index: 2;
		height: 868px;
	}

	#u70962-bw
	{
		z-index: 2;
	}

	#u70963
	{
		z-index: 3;
		height: 867px;
		top: 1px;
	}

	#u70963-bw
	{
		z-index: 3;
	}

	#u74186-3
	{
		z-index: 76;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		color: #FFFFFF;
		line-height: 30px;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	#u74186-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	.nosvg #u74186-3,.nosvg #u74186-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u74186-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u74188-2,#u74186
	{
		padding-top: 21px;
	}

	#pu70965-9
	{
		padding-bottom: 0px;
		margin-top: 200px;
		width: 40.42%;
		margin-left: 9.59%;
	}

	#u70965-9
	{
		z-index: 5;
		min-height: 156px;
		line-height: 36px;
		text-align: left;
		font-size: 30px;
		width: 98.29%;
	}

	#u70965-3
	{
		font-size: 100px;
		line-height: 120px;
	}

	#u70965-5
	{
		font-size: 30px;
		line-height: 36px;
	}

	#u70965-6
	{
		font-size: 20px;
		line-height: 24px;
	}

	#pu70967
	{
		margin-top: 69px;
		width: 60.83%;
	}

	#u70967
	{
		z-index: 23;
		height: 55px;
		margin-right: -10000px;
		width: 15.54%;
	}

	#u70967:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		height: 55px;
		width: 15.54%;
		margin-left: 0%;
	}

	#u70968
	{
		z-index: 24;
		height: 55px;
		width: 15.54%;
		left: 28.25%;
	}

	#u70969
	{
		z-index: 25;
		height: 55px;
		width: 15.54%;
		left: 56.22%;
	}

	#u70970
	{
		z-index: 26;
		height: 55px;
		width: 15.54%;
		left: 84.47%;
	}

	#u70968:hover,#u70969:hover,#u70970:hover
	{
		margin-top: 0px;
		height: 55px;
		width: 15.54%;
		margin-left: 0%;
	}

	#u70966-9
	{
		z-index: 14;
		min-height: 126px;
		line-height: 18px;
		font-size: 15px;
		margin-top: 66px;
		width: 100%;
	}

	#ppu44404-4
	{
		margin-right: -10000px;
		width: 100%;
	}

	#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 54;
		min-height: 360px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 58;
		min-height: 360px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 66;
		min-height: 360px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 62;
		min-height: 360px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 360px;
		width: 25%;
		margin-left: 0%;
	}

	#pu563
	{
		width: 0.01px;
	}

	#u563,#u563-bw
	{
		z-index: 53;
	}

	#u44573-4
	{
		z-index: 70;
	}

	#u44573-4-bw
	{
		z-index: 70;
		margin-top: 27px;
	}

	.verticalspacer
	{
		min-height: 1px;
	}

}

@media (min-width: 961px) and (max-width: 1140px)
{
	#muse_css_mq
	{
		background-color: #000474;
	}

	#bp_1140.active
	{
		display: block;
	}

	#page
	{
		min-height: 748px;
		max-width: 1140px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
		left: -79px;
	}

	#pu70964
	{
		width: 0.01px;
		margin-right: -10000px;
	}

	#u70964,#u70964-bw
	{
		z-index: 4;
		height: 829px;
	}

	#u168
	{
		z-index: 27;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 28;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u74187
	{
		z-index: 79;
		width: 70px;
	}

	#u74188-4
	{
		z-index: 80;
		width: 70px;
		min-height: 70px;
		line-height: 30px;
		font-size: 25px;
	}

	#u74188-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#pu70962
	{
		width: 0.01px;
		padding-bottom: 829px;
		margin-right: -10000px;
	}

	#u70962
	{
		z-index: 2;
		height: 829px;
	}

	#u70962-bw
	{
		z-index: 2;
	}

	#u70963
	{
		z-index: 3;
		height: 828px;
		top: 1px;
	}

	#u70963-bw
	{
		z-index: 3;
	}

	#u74185
	{
		z-index: 75;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u74186-3
	{
		z-index: 76;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		color: #FFFFFF;
		line-height: 30px;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	#u74186-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	.nosvg #u74186-3,.nosvg #u74186-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u74186-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u74188-2,#u74186
	{
		padding-top: 21px;
	}

	#pu70965-9
	{
		padding-bottom: 0px;
		margin-top: 200px;
		width: 40.09%;
		margin-left: 9.92%;
	}

	#u70965-9
	{
		z-index: 5;
		min-height: 156px;
		line-height: 36px;
		text-align: left;
		font-size: 30px;
		width: 97.82%;
	}

	#u70965-3
	{
		font-size: 90px;
		line-height: 108px;
	}

	#u70965-5
	{
		font-size: 30px;
		line-height: 36px;
	}

	#u70965-6
	{
		font-size: 20px;
		line-height: 24px;
	}

	#pu70967
	{
		margin-top: 57px;
		width: 77.47%;
	}

	#u70967
	{
		z-index: 23;
		height: 55px;
		margin-right: -10000px;
		width: 15.54%;
	}

	#u70967:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		height: 55px;
		width: 15.54%;
		margin-left: 0%;
	}

	#u70968
	{
		z-index: 24;
		height: 55px;
		width: 15.54%;
		left: 28.25%;
	}

	#u70969
	{
		z-index: 25;
		height: 55px;
		width: 15.54%;
		left: 56.22%;
	}

	#u70970
	{
		z-index: 26;
		height: 55px;
		width: 15.54%;
		left: 84.47%;
	}

	#u70968:hover,#u70969:hover,#u70970:hover
	{
		margin-top: 0px;
		height: 55px;
		width: 15.54%;
		margin-left: 0%;
	}

	#u70966-9
	{
		z-index: 14;
		min-height: 126px;
		line-height: 18px;
		font-size: 15px;
		margin-top: 66px;
		width: 100%;
	}

	#ppu44404-4
	{
		margin-right: -10000px;
		width: 100%;
	}

	#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 54;
		min-height: 284px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 58;
		min-height: 284px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 66;
		min-height: 284px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 62;
		min-height: 284px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 284px;
		width: 25%;
		margin-left: 0%;
	}

	#pu563
	{
		width: 0.01px;
		margin-top: 1px;
	}

	#u563,#u563-bw
	{
		z-index: 53;
	}

	#u44573-4
	{
		z-index: 70;
	}

	#u44573-4-bw
	{
		z-index: 70;
		margin-top: 27px;
	}

	.verticalspacer
	{
		min-height: 1px;
	}

}

@media (min-width: 769px) and (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		min-height: 819px;
		padding-bottom: 1px;
		max-width: 960px;
	}

	#u74185
	{
		z-index: 75;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u74187
	{
		z-index: 79;
		width: 70px;
	}

	#u74188-4
	{
		z-index: 80;
		width: 70px;
		min-height: 70px;
		line-height: 30px;
		font-size: 25px;
	}

	#u74188-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#u74186-3
	{
		z-index: 76;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		color: #FFFFFF;
		line-height: 30px;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	#u74186-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	.nosvg #u74186-3,.nosvg #u74186-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u74186-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u74188-2,#u74186
	{
		padding-top: 21px;
	}

	#pu70964
	{
		width: 0.01px;
		margin-right: -10000px;
	}

	#u70964
	{
		z-index: 4;
		height: 739px;
	}

	#u70964-bw
	{
		z-index: 4;
		margin-top: 6px;
		height: 739px;
	}

	#u168
	{
		z-index: 27;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 28;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#pu70962
	{
		width: 0.01px;
		padding-bottom: 755px;
		margin-right: -10000px;
	}

	#u70962
	{
		z-index: 2;
		height: 755px;
	}

	#u70962-bw
	{
		z-index: 2;
	}

	#u70963
	{
		z-index: 3;
		height: 754px;
		top: 1px;
	}

	#u70963-bw
	{
		z-index: 3;
	}

	#pu70965-9
	{
		padding-bottom: 0px;
		margin-top: 200px;
		width: 67.5%;
		margin-left: 16.25%;
	}

	#u70965-9
	{
		z-index: 5;
		min-height: 156px;
		line-height: 36px;
		text-align: center;
		font-size: 30px;
		width: 100%;
		margin-left: 0%;
		left: 2.842170943040401e-14px;
	}

	#u70965-3
	{
		font-size: 80px;
		line-height: 96px;
	}

	#u70965-5
	{
		line-height: 36px;
	}

	#u70965-6
	{
		font-size: 15px;
		line-height: 18px;
	}

	#pu70967
	{
		margin-top: 53px;
		width: 51.39%;
		margin-left: 24.31%;
	}

	#u70967
	{
		z-index: 23;
		height: 55px;
		margin-right: -10000px;
		width: 16.52%;
		margin-left: 41.75%;
		left: -139.5px;
	}

	#u70967:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		height: 55px;
		width: 16.52%;
		margin-left: 41.75%;
		left: -139.5px;
	}

	.nosvg #u70967,.nosvg #u70967:hover
	{
		margin-left: 41.75%;
		left: -139.5px;
	}

	#u70968
	{
		z-index: 24;
		height: 55px;
		width: 16.52%;
		margin-left: 41.75%;
		left: -46.5px;
	}

	#u70968:hover
	{
		margin-top: 0px;
		height: 55px;
		width: 16.52%;
		margin-left: 41.75%;
		left: -46.5px;
	}

	.nosvg #u70968,.nosvg #u70968:hover
	{
		margin-left: 41.75%;
		left: -46.5px;
	}

	#u70969
	{
		z-index: 25;
		height: 55px;
		width: 16.52%;
		margin-left: 41.75%;
		left: 46.5px;
	}

	#u70969:hover
	{
		margin-top: 0px;
		height: 55px;
		width: 16.52%;
		margin-left: 41.75%;
		left: 46.5px;
	}

	.nosvg #u70969,.nosvg #u70969:hover
	{
		margin-left: 41.75%;
		left: 46.5px;
	}

	#u70970
	{
		z-index: 26;
		height: 55px;
		width: 16.52%;
		margin-left: 41.75%;
		left: 138.5px;
	}

	#u70970:hover
	{
		margin-top: 0px;
		height: 55px;
		width: 16.52%;
		margin-left: 41.75%;
		left: 138.5px;
	}

	.nosvg #u70970,.nosvg #u70970:hover
	{
		margin-left: 41.75%;
		left: 138.5px;
	}

	#u70966-9
	{
		z-index: 14;
		min-height: 73px;
		text-align: center;
		line-height: 18px;
		font-size: 15px;
		margin-top: 75px;
		width: 68.68%;
		margin-left: 15.67%;
		left: 2.842170943040401e-14px;
	}

	#ppu44404-4
	{
		margin-right: -10000px;
		width: 100%;
	}

	#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 54;
		min-height: 240px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 58;
		min-height: 240px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 66;
		min-height: 240px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 62;
		min-height: 240px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 240px;
		width: 25%;
		margin-left: 0%;
	}

	#pu563
	{
		width: 0.01px;
	}

	#u563,#u563-bw
	{
		z-index: 53;
	}

	#u44573-4
	{
		z-index: 70;
	}

	#u44573-4-bw
	{
		z-index: 70;
		margin-top: 27px;
	}

	.verticalspacer
	{
		min-height: 1px;
	}

}

@media (min-width: 651px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 739px;
		max-width: 768px;
	}

	#u74185
	{
		z-index: 75;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u74187
	{
		z-index: 79;
		width: 70px;
	}

	#u74188-4
	{
		z-index: 80;
		width: 70px;
		min-height: 70px;
		line-height: 30px;
		font-size: 25px;
	}

	#u74188-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#u74186-3
	{
		z-index: 76;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		color: #FFFFFF;
		line-height: 30px;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	#u74186-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	.nosvg #u74186-3,.nosvg #u74186-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u74186-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u74188-2,#u74186
	{
		padding-top: 21px;
	}

	#pu70964
	{
		width: 0.01px;
		margin-right: -10000px;
	}

	#u70964
	{
		z-index: 4;
		height: 734px;
	}

	#u70964-bw
	{
		z-index: 4;
		margin-top: 6px;
		height: 734px;
	}

	#u168
	{
		z-index: 27;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 28;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#pu70962
	{
		width: 0.01px;
		padding-bottom: 740px;
		margin-right: -10000px;
	}

	#u70962
	{
		z-index: 2;
		height: 740px;
	}

	#u70962-bw
	{
		z-index: 2;
	}

	#u70963
	{
		z-index: 3;
		height: 739px;
		top: 1px;
	}

	#u70963-bw
	{
		z-index: 3;
	}

	#pu70965-9
	{
		padding-bottom: 0px;
		margin-top: 200px;
		width: 67.45%;
		margin-left: 16.28%;
	}

	#u70965-9
	{
		z-index: 5;
		min-height: 156px;
		line-height: 36px;
		text-align: center;
		font-size: 30px;
		width: 100%;
		margin-left: 0%;
		left: -5.684341886080802e-14px;
	}

	#u70965-3
	{
		font-size: 80px;
		line-height: 96px;
	}

	#u70965-5
	{
		line-height: 36px;
	}

	#u70965-6
	{
		font-size: 15px;
		line-height: 18px;
	}

	#pu70967
	{
		margin-top: 53px;
		width: 65.45%;
		margin-left: 17.28%;
	}

	#u70967
	{
		z-index: 23;
		height: 55px;
		margin-right: -10000px;
		width: 16.23%;
		margin-left: 41.89%;
		left: -142.50000000000006px;
	}

	#u70967:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		height: 55px;
		width: 16.23%;
		margin-left: 41.89%;
		left: -142.50000000000006px;
	}

	.nosvg #u70967,.nosvg #u70967:hover
	{
		margin-left: 41.89%;
		left: -142.50000000000006px;
	}

	#u70968
	{
		z-index: 24;
		height: 55px;
		width: 16.23%;
		margin-left: 41.89%;
		left: -47.50000000000006px;
	}

	#u70968:hover
	{
		margin-top: 0px;
		height: 55px;
		width: 16.23%;
		margin-left: 41.89%;
		left: -47.50000000000006px;
	}

	.nosvg #u70968,.nosvg #u70968:hover
	{
		margin-left: 41.89%;
		left: -47.50000000000006px;
	}

	#u70969
	{
		z-index: 25;
		height: 55px;
		width: 16.23%;
		margin-left: 41.89%;
		left: 47.49999999999994px;
	}

	#u70969:hover
	{
		margin-top: 0px;
		height: 55px;
		width: 16.23%;
		margin-left: 41.89%;
		left: 47.49999999999994px;
	}

	.nosvg #u70969,.nosvg #u70969:hover
	{
		margin-left: 41.89%;
		left: 47.49999999999994px;
	}

	#u70970
	{
		z-index: 26;
		height: 55px;
		width: 16.23%;
		margin-left: 41.89%;
		left: 141.49999999999994px;
	}

	#u70970:hover
	{
		margin-top: 0px;
		height: 55px;
		width: 16.23%;
		margin-left: 41.89%;
		left: 141.49999999999994px;
	}

	.nosvg #u70970,.nosvg #u70970:hover
	{
		margin-left: 41.89%;
		left: 141.49999999999994px;
	}

	#u70966-9
	{
		z-index: 14;
		min-height: 73px;
		text-align: center;
		line-height: 18px;
		font-size: 15px;
		margin-top: 75px;
		width: 68.73%;
		margin-left: 15.64%;
		left: -5.684341886080802e-14px;
	}

	#ppu44404-4
	{
		margin-right: -10000px;
		width: 100%;
	}

	#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 54;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 58;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 66;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 62;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 192px;
		width: 25%;
		margin-left: 0%;
	}

	#pu563
	{
		width: 0.01px;
	}

	#u563,#u563-bw
	{
		z-index: 53;
	}

	#u44573-4
	{
		z-index: 70;
	}

	#u44573-4-bw
	{
		z-index: 70;
		margin-top: 27px;
	}

	.verticalspacer
	{
		min-height: 1px;
	}

}

@media (min-width: 517px) and (max-width: 650px)
{
	#muse_css_mq
	{
		background-color: #00028a;
	}

	#bp_650.active
	{
		display: block;
	}

	#page
	{
		min-height: 820px;
		max-width: 650px;
	}

	#pu70964
	{
		width: 0.01px;
		margin-right: -10000px;
	}

	#u70964,#u70964-bw
	{
		z-index: 4;
		height: 740px;
	}

	#u74187
	{
		z-index: 79;
		width: 70px;
	}

	#u74188-4
	{
		z-index: 80;
		width: 70px;
		min-height: 70px;
		line-height: 30px;
		font-size: 25px;
	}

	#u74188-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#pu74185
	{
		width: 0.01px;
		padding-bottom: 70px;
		margin-right: -10000px;
	}

	#u74185
	{
		z-index: 75;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u74186-3
	{
		z-index: 76;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		color: #FFFFFF;
		line-height: 30px;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	#u74186-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	.nosvg #u74186-3,.nosvg #u74186-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u74186-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u74188-2,#u74186
	{
		padding-top: 21px;
	}

	#u168
	{
		z-index: 27;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 28;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#pu70962
	{
		width: 0.01px;
		padding-bottom: 740px;
		margin-right: -10000px;
	}

	#u70962
	{
		z-index: 2;
		height: 740px;
	}

	#u70962-bw
	{
		z-index: 2;
	}

	#u70963
	{
		z-index: 3;
		height: 739px;
		top: 1px;
	}

	#u70963-bw
	{
		z-index: 3;
	}

	#pu70965-9
	{
		margin-top: 200px;
		width: 68.77%;
		margin-left: 15.54%;
	}

	#u70965-9
	{
		z-index: 5;
		min-height: 156px;
		line-height: 36px;
		text-align: center;
		font-size: 30px;
		width: 100%;
	}

	#u70965-3
	{
		font-size: 90px;
		line-height: 108px;
	}

	#u70965-5
	{
		font-size: 30px;
		line-height: 36px;
	}

	#u70965-6
	{
		font-size: 15px;
		line-height: 18px;
	}

	#u70967
	{
		z-index: 23;
		height: 55px;
		margin-top: 87px;
		width: 12.31%;
		margin-left: 10.52%;
	}

	#u70967:hover
	{
		margin-right: 0px;
		margin-top: 87px;
		height: 55px;
		width: 12.31%;
		margin-left: 10.52%;
	}

	#u70966-9
	{
		z-index: 14;
		min-height: 73px;
		text-align: center;
		line-height: 18px;
		font-size: 15px;
		margin-right: -10000px;
		margin-top: 539px;
		width: 46.31%;
		margin-left: 26.85%;
		left: -1px;
	}

	#u70968
	{
		z-index: 24;
		height: 55px;
		margin-top: 449px;
		width: 8.47%;
		left: 38.16%;
	}

	#u70969
	{
		z-index: 25;
		height: 55px;
		margin-top: 449px;
		width: 8.47%;
		left: 53.39%;
	}

	#u70970
	{
		z-index: 26;
		height: 55px;
		margin-top: 449px;
		width: 8.47%;
		left: 68.77%;
	}

	#u70968:hover,#u70969:hover,#u70970:hover
	{
		margin-top: 449px;
		height: 55px;
		width: 8.47%;
		margin-left: 0%;
	}

	#ppu44404-4
	{
		margin-right: -10000px;
		width: 100%;
	}

	#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 54;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25.08%;
	}

	#u44405-4
	{
		z-index: 58;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25.08%;
		left: 25.08%;
	}

	#u44407-4
	{
		z-index: 66;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25.08%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 62;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25.08%;
		left: 75.08%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 192px;
		width: 25.08%;
		margin-left: 0%;
	}

	#pu563
	{
		width: 0.01px;
	}

	#u563,#u563-bw
	{
		z-index: 53;
	}

	#u44573-4
	{
		z-index: 70;
	}

	#u44573-4-bw
	{
		z-index: 70;
		margin-top: 27px;
	}

	.verticalspacer
	{
		min-height: 1px;
	}

}

@media (min-width: 321px) and (max-width: 516px)
{
	#muse_css_mq
	{
		background-color: #000204;
	}

	#bp_516.active
	{
		display: block;
	}

	#page
	{
		min-height: 606px;
		max-width: 516px;
	}

	#pu70965-9
	{
		margin-top: 90px;
		width: 83.92%;
		margin-left: 8.05%;
	}

	#u70965-9
	{
		z-index: 6;
		min-height: 74px;
		line-height: 48px;
		text-align: center;
		font-size: 40px;
		width: 100%;
		margin-left: 0%;
		left: 0.5000000000000142px;
	}

	#u70965-3
	{
		line-height: 48px;
	}

	#pu70967
	{
		margin-top: 28px;
		width: 36.49%;
		margin-left: 31.76%;
	}

	#u70967
	{
		z-index: 24;
		height: 30px;
		margin-right: -10000px;
		width: 18.99%;
		margin-left: 40.51%;
		left: -62.99999999999996px;
	}

	#u70967:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		height: 30px;
		width: 18.99%;
		margin-left: 40.51%;
		left: -62.99999999999996px;
	}

	.nosvg #u70967,.nosvg #u70967:hover
	{
		margin-left: 40.51%;
		left: -62.99999999999996px;
	}

	#u70968
	{
		z-index: 25;
		height: 30px;
		width: 18.99%;
		margin-left: 40.51%;
		left: -19.999999999999957px;
	}

	#u70968:hover
	{
		margin-top: 0px;
		height: 30px;
		width: 18.99%;
		margin-left: 40.51%;
		left: -19.999999999999957px;
	}

	.nosvg #u70968,.nosvg #u70968:hover
	{
		margin-left: 40.51%;
		left: -19.999999999999957px;
	}

	#u70969
	{
		z-index: 26;
		height: 30px;
		width: 18.99%;
		margin-left: 40.51%;
		left: 22.000000000000043px;
	}

	#u70969:hover
	{
		margin-top: 0px;
		height: 30px;
		width: 18.99%;
		margin-left: 40.51%;
		left: 22.000000000000043px;
	}

	.nosvg #u70969,.nosvg #u70969:hover
	{
		margin-left: 40.51%;
		left: 22.000000000000043px;
	}

	#u70970
	{
		z-index: 27;
		height: 30px;
		width: 18.99%;
		margin-left: 40.51%;
		left: 65.00000000000004px;
	}

	#u70970:hover
	{
		margin-top: 0px;
		height: 30px;
		width: 18.99%;
		margin-left: 40.51%;
		left: 65.00000000000004px;
	}

	.nosvg #u70970,.nosvg #u70970:hover
	{
		margin-left: 40.51%;
		left: 65.00000000000004px;
	}

	#u70966-9
	{
		z-index: 15;
		min-height: 73px;
		text-align: center;
		margin-top: 31px;
		width: 55.2%;
		margin-left: 22.41%;
		left: 0.5000000000000142px;
	}

	#u70966-3
	{
		font-size: 15px;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u70965-5,#u70965-6,#u70966,#u70966-5,#u70966-7
	{
		font-size: 10px;
		line-height: 12px;
	}

	#u70442
	{
		z-index: 2;
		height: 364px;
		background: transparent url("../images/profile_4.jpg") no-repeat center center;
		background-size: cover;
	}

	#u70442-bw
	{
		z-index: 2;
		height: 364px;
	}

	#u70964,#u70964-bw
	{
		z-index: 5;
		height: 396px;
	}

	#u63688
	{
		z-index: 50;
	}

	#u63698-3
	{
		z-index: 51;
		min-height: 20px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u63698-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 20px;
		margin: 0px 0px 0px 0%;
	}

	#u63689
	{
		z-index: 54;
	}

	#u63692
	{
		min-height: 36px;
		padding-bottom: 37px;
		position: relative;
	}

	#u63695-4
	{
		min-height: 36px;
		position: relative;
		top: 18px;
	}

	#u63825
	{
		min-height: 36px;
		padding-bottom: 38px;
		position: relative;
	}

	#u63826-4
	{
		min-height: 36px;
		position: relative;
		top: 19px;
	}

	#u63919
	{
		min-height: 36px;
		padding-bottom: 38px;
		position: relative;
	}

	#u63920-4
	{
		min-height: 36px;
		position: relative;
		top: 19px;
	}

	#u70870
	{
		min-height: 36px;
		padding-bottom: 38px;
		position: relative;
	}

	#u70873-4
	{
		min-height: 36px;
		position: relative;
		top: 19px;
	}

	#u64101
	{
		min-height: 36px;
		padding-bottom: 38px;
		position: relative;
	}

	#u63692.MuseMenuActive,#u63825.MuseMenuActive,#u63919.MuseMenuActive,#u70870.MuseMenuActive,#u64101.MuseMenuActive
	{
		min-height: 36px;
		margin: 0px 0px 0px 0%;
	}

	#u64104-4
	{
		min-height: 36px;
		position: relative;
		top: 19px;
	}

	#u63692.MuseMenuActive #u63695-4,#u63825.MuseMenuActive #u63826-4,#u63919.MuseMenuActive #u63920-4,#u70870.MuseMenuActive #u70873-4,#u64101.MuseMenuActive #u64104-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 36px;
		margin: 0px 0px 0px 0%;
	}

	#u63822,#u63918,#u70869,#u64100
	{
		margin-top: 2px;
	}

	#menuu63690,#menuu63690-bw
	{
		z-index: 55;
		min-height: 377px;
	}

	#accordionu63687,#accordionu63687-bw
	{
		z-index: 49;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#u74185
	{
		z-index: 87;
		width: 40px;
		background-color: #231F20;
		position: relative;
		margin-right: -10000px;
	}

	#u74186-3
	{
		z-index: 88;
		width: 40px;
		min-height: 40px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		color: #FFFFFF;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		position: relative;
		margin-right: -10000px;
		background: transparent url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	#u74186-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 40px;
		width: 40px;
		margin: 0px -10000px 0px 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat center center;
		background-size: contain;
	}

	.nosvg #u74186-3,.nosvg #u74186-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u74186-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u74187
	{
		z-index: 91;
		width: 40px;
	}

	#u74188-4
	{
		z-index: 92;
		width: 40px;
		min-height: 40px;
		line-height: 24px;
		font-size: 20px;
	}

	#u74188-4:hover
	{
		min-height: 40px;
		width: 40px;
	}

	#u74186,#u74188-2
	{
		padding-top: 8px;
	}

	#pu70962
	{
		padding-bottom: 396px;
		margin-top: -396px;
		width: 100%;
	}

	#u70962
	{
		z-index: 3;
		height: 396px;
	}

	#u70962-bw
	{
		z-index: 3;
	}

	#u70963
	{
		z-index: 4;
		height: 396px;
		top: 0px;
	}

	#u70963-bw
	{
		z-index: 4;
	}

	#u44404-4
	{
		z-index: 29;
		min-height: 140px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 33;
		min-height: 140px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 41;
		min-height: 140px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 37;
		min-height: 140px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 140px;
		width: 25%;
		margin-left: 0%;
	}

	#ppu70965-9,#pu44404-4,#pu563
	{
		width: 100%;
	}

	#u563,#u563-bw
	{
		z-index: 28;
	}

	#u44573-4
	{
		z-index: 45;
	}

	#u44573-4-bw
	{
		z-index: 45;
		margin-top: 28px;
	}

}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 511.94656282998926px;
		padding-bottom: 0px;
		max-width: 320px;
	}

	#pu70965-9
	{
		margin-top: 101px;
		width: 87.5%;
		margin-left: 6.25%;
	}

	#u70965-9
	{
		z-index: 6;
		min-height: 74px;
		line-height: 48px;
		text-align: center;
		font-size: 40px;
		width: 100%;
		margin-left: 0%;
		left: 0px;
	}

	#u70965-3
	{
		line-height: 48px;
	}

	#u70965-6
	{
		font-size: 15px;
		line-height: 18px;
	}

	#pu70967
	{
		margin-top: 31px;
		width: 31.79%;
		margin-left: 34.11%;
	}

	#u70967
	{
		z-index: 24;
		height: 35px;
		margin-right: -10000px;
		width: 39.33%;
		margin-left: 30.34%;
		left: -26.5px;
	}

	#u70967:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		height: 35px;
		width: 39.33%;
		margin-left: 30.34%;
		left: -26.5px;
	}

	#u70968
	{
		z-index: 25;
		height: 35px;
		width: 39.33%;
		margin-left: 30.34%;
		left: 27.5px;
	}

	#u70968:hover
	{
		margin-top: 0px;
		height: 35px;
		width: 39.33%;
		margin-left: 30.34%;
		left: 27.5px;
	}

	#pu70969
	{
		margin-top: 17px;
		width: 31.79%;
		margin-left: 34.11%;
	}

	#u70969
	{
		z-index: 26;
		height: 35px;
		width: 39.33%;
		margin-left: 30.34%;
		left: -26.5px;
	}

	#u70969:hover
	{
		margin-top: 0px;
		height: 35px;
		width: 39.33%;
		margin-left: 30.34%;
		left: -26.5px;
	}

	.nosvg #u70967,.nosvg #u70967:hover,.nosvg #u70969,.nosvg #u70969:hover
	{
		margin-left: 30.34%;
		left: -26.5px;
	}

	#u70970
	{
		z-index: 27;
		height: 35px;
		width: 39.33%;
		margin-left: 30.34%;
		left: 27.5px;
	}

	#u70970:hover
	{
		margin-top: 0px;
		height: 35px;
		width: 39.33%;
		margin-left: 30.34%;
		left: 27.5px;
	}

	.nosvg #u70968,.nosvg #u70968:hover,.nosvg #u70970,.nosvg #u70970:hover
	{
		margin-left: 30.34%;
		left: 27.5px;
	}

	#u70966-9
	{
		z-index: 15;
		min-height: 40px;
		text-align: center;
		margin-top: 31px;
		width: 100%;
		margin-left: 0%;
		left: 0px;
	}

	#u70966-3
	{
		font-size: 15px;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u70965-5,#u70966,#u70966-5,#u70966-7
	{
		font-size: 10px;
		line-height: 12px;
	}

	#u70441
	{
		z-index: 2;
		height: 304px;
		background-color: #FFDE00;
	}

	#u70441-bw
	{
		z-index: 2;
		margin-top: 1px;
		height: 304px;
	}

	#u70964,#u70964-bw
	{
		z-index: 5;
		height: 506px;
	}

	#u63688
	{
		z-index: 50;
	}

	#u63698-3
	{
		z-index: 51;
		min-height: 19px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u63698-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 19px;
		margin: 0px 0px 0px 0%;
	}

	#u63689
	{
		z-index: 54;
	}

	#u63692
	{
		min-height: 36px;
		padding-bottom: 44px;
		position: relative;
	}

	#u63695-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u63825
	{
		min-height: 36px;
		padding-bottom: 44px;
		position: relative;
	}

	#u63826-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u63919
	{
		min-height: 36px;
		padding-bottom: 44px;
		position: relative;
	}

	#u63920-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u70870
	{
		min-height: 36px;
		padding-bottom: 45px;
		position: relative;
	}

	#u70873-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u64101
	{
		min-height: 36px;
		padding-bottom: 45px;
		position: relative;
	}

	#u63692.MuseMenuActive,#u63825.MuseMenuActive,#u63919.MuseMenuActive,#u70870.MuseMenuActive,#u64101.MuseMenuActive
	{
		min-height: 36px;
		margin: 0px 0px 0px 0%;
	}

	#u64104-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u63692.MuseMenuActive #u63695-4,#u63825.MuseMenuActive #u63826-4,#u63919.MuseMenuActive #u63920-4,#u70870.MuseMenuActive #u70873-4,#u64101.MuseMenuActive #u64104-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 36px;
		margin: 0px 0px 0px 0%;
	}

	#u63822,#u63918,#u70869,#u64100
	{
		margin-top: 2px;
	}

	#menuu63690,#menuu63690-bw
	{
		z-index: 55;
		min-height: 410px;
	}

	#accordionu63687,#accordionu63687-bw
	{
		z-index: 49;
	}

	#u74187
	{
		z-index: 86;
		width: 40px;
	}

	#u74188-4
	{
		z-index: 87;
		width: 40px;
		min-height: 40px;
		line-height: 24px;
		font-size: 20px;
	}

	#u74188-4:hover
	{
		min-height: 40px;
		width: 40px;
	}

	#u74188-2
	{
		padding-top: 8px;
	}

	#pu70962
	{
		padding-bottom: 506px;
		margin-top: -506px;
		width: 100%;
	}

	#u70962
	{
		z-index: 3;
		height: 506px;
	}

	#u70962-bw
	{
		z-index: 3;
	}

	#u70963
	{
		z-index: 4;
		height: 505px;
		top: 1px;
	}

	#u70963-bw
	{
		z-index: 4;
	}

	#u44404-4
	{
		z-index: 29;
		min-height: 80px;
	}

	#u44404-4-bw
	{
		z-index: 29;
		min-height: 80px;
	}

	#u44405-4
	{
		z-index: 33;
		min-height: 80px;
	}

	#u44405-4-bw
	{
		z-index: 33;
		min-height: 80px;
	}

	#u44407-4
	{
		z-index: 41;
		min-height: 80px;
	}

	#u44407-4-bw
	{
		z-index: 41;
		min-height: 80px;
	}

	#u44406-4
	{
		z-index: 37;
		min-height: 80px;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-left: 0px;
		margin-right: 0px;
		min-height: 80px;
	}

	#u44406-4-bw
	{
		z-index: 37;
		min-height: 80px;
	}

	#ppu70965-9,#pu563
	{
		width: 100%;
	}

	#u563,#u563-bw
	{
		z-index: 28;
	}

	#u44573-4
	{
		z-index: 45;
	}

	#u44573-4-bw
	{
		z-index: 45;
		margin-top: 27px;
	}

	body
	{
		min-width: 320px;
	}

}

