	#menuu170
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u174
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
		background-color: #FFFFFF;
	}

	#u174:hover
	{
		background-color: #F2F2F2;
	}

	#u177-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		letter-spacing: 0px;
		text-transform: uppercase;
		line-height: 16px;
		color: #575757;
		font-size: 13px;
		font-family: open-sans, sans-serif;
		font-weight: 700;
	}

	#u174:hover #u177-4 p,#u174:hover #u177-4 span,#u174.MuseMenuActive #u177-4 p,#u174.MuseMenuActive #u177-4 span
	{
		color: #000000;
		visibility: inherit;
	}

	#u193
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
		background-color: #FFFFFF;
	}

	#u193:hover
	{
		background-color: #F2F2F2;
	}

	#u195-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		text-transform: uppercase;
		line-height: 16px;
		color: #575757;
		font-size: 13px;
		font-family: open-sans, sans-serif;
		font-weight: 700;
	}

	#u193:hover #u195-4 p,#u193:hover #u195-4 span,#u193.MuseMenuActive #u195-4 p,#u193.MuseMenuActive #u195-4 span
	{
		color: #000000;
		visibility: inherit;
	}

	#u186
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
		background-color: #FFFFFF;
	}

	#u186:hover
	{
		background-color: #F2F2F2;
	}

	#u187-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		text-transform: uppercase;
		line-height: 16px;
		color: #575757;
		font-size: 13px;
		font-family: open-sans, sans-serif;
		font-weight: 700;
	}

	#u186:hover #u187-4 p,#u186:hover #u187-4 span,#u186.MuseMenuActive #u187-4 p,#u186.MuseMenuActive #u187-4 span
	{
		color: #000000;
		visibility: inherit;
	}

	#u171,#u192,#u185,#u178
	{
		background-color: transparent;
	}

	#u181
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
		background-color: #FFFFFF;
	}

	#u181:hover
	{
		background-color: #F2F2F2;
	}

	#u168,#u174.MuseMenuActive,#u193.MuseMenuActive,#u186.MuseMenuActive,#u181.MuseMenuActive
	{
		background-color: #FFFFFF;
	}

	#u182-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		text-transform: uppercase;
		line-height: 16px;
		color: #575757;
		font-size: 13px;
		font-family: open-sans, sans-serif;
		font-weight: 700;
	}

	#u181:hover #u182-4 p,#u181:hover #u182-4 span,#u181.MuseMenuActive #u182-4 p,#u181.MuseMenuActive #u182-4 span
	{
		color: #000000;
		visibility: inherit;
	}

	#u44404-2
	{
		padding-top: 152px;
	}

	#u44405-2
	{
		padding-top: 152px;
	}

	#u44407-2
	{
		padding-top: 152px;
	}

	#u44404-4,#u44405-4,#u44407-4,#u44406-4
	{
		line-height: 54px;
		font-size: 45px;
	}

	#u44406-2
	{
		padding-top: 152px;
	}

	#u44573-4
	{
		line-height: 16px;
		font-size: 13px;
	}


