.version.undesigned_reality /* version checker */
{
	color: #000001;
	background-color: #082AA1;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	width: 100%;
	margin-right: auto;
	border-width: 0px;
	border-color: #000000;
	margin-left: auto;
	z-index: 1;
	background-color: transparent;
	background-image: none;
}

#u54974
{
	margin-right: -10000px;
	background-color: #231F20;
	position: relative;
}

#u54973-4
{
	transition-timing-function: ease;
	margin-right: -10000px;
	font-weight: bold;
	transition-duration: 1s;
	transition-delay: 0s;
	background-color: transparent;
	background-image: url("../images/blank.gif");
	-webkit-transition-timing-function: ease;
	text-align: center;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	color: #FFFFFF;
	position: relative;
}

#u54973-4:hover
{
	padding-bottom: 0px;
	padding-top: 0px;
	background-color: #FFDE00;
	margin: 0px -10000px 0px 0px;
}

#u54973-4:hover p
{
	visibility: inherit;
	color: #000000;
}

#u54980-4
{
	position: relative;
	background-color: #000000;
}

#u54883-26
{
	text-transform: uppercase;
	color: #231F20;
	position: relative;
	background-color: transparent;
}

#u54883-2,#u54883-4
{
	letter-spacing: 1px;
	font-family: league-gothic, sans-serif;
	font-style: normal;
	font-weight: 400;
}

#u54883-5,#u54883-8
{
	letter-spacing: 0px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u54883-12,#u54883-24
{
	letter-spacing: 0px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u54883-6,#u54883-9,#u54883-13,#u54883-18,#u54883-22
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u54883-11,#u54883-14,#u54883-15,#u54883-19,#u54883-23
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u54884-10
{
	min-height: 35px;
	font-weight: 600;
	font-family: open-sans, sans-serif;
	position: relative;
	background-color: transparent;
}

#u54881,#u55328
{
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: cover;
}

#u54879-4,#u55354-4
{
	position: relative;
	background-color: transparent;
	line-height: 16px;
}

#u54879-2,#u55354-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u54879,#u55354
{
	font-size: 10px;
	font-style: italic;
	font-family: open-sans, sans-serif;
	line-height: 12px;
	font-weight: 400;
}

#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
{
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
}

#pu563
{
	width: 100%;
}

#u563,#u563-bw
{
	height: 70px;
}

#u44573-4,#u44573-4-bw
{
	min-height: 14px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1141px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 4063.9750000000004px;
		padding-bottom: 0px;
	}

	#slideshowu55068
	{
		z-index: 2;
		width: 0.01px;
		height: 600px;
		position: relative;
		margin-right: -10000px;
	}

	#u55070
	{
		position: absolute;
		width: 1440px;
		height: 600px;
		background-color: transparent;
	}

	#u55070popup
	{
		z-index: 3;
	}

	#u55204
	{
		z-index: 4;
		width: 1440px;
		height: 600px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-right: -10000px;
		position: relative;
	}

	.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
	{
		cursor: pointer;
	}

	.SSSlideLoading /* slideshowFreeStyle */
	{
		background: url("../images/loading.gif") no-repeat center center;
	}

	#u168
	{
		z-index: 57;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 58;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#u54974
	{
		z-index: 109;
		width: 70px;
	}

	#u54973-4
	{
		z-index: 110;
		width: 70px;
		min-height: 70px;
		font-size: 25px;
		line-height: 30px;
	}

	#u54973-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#pu54975
	{
		padding-bottom: 70px;
		margin-top: -600px;
		width: 100%;
	}

	#u54975
	{
		z-index: 104;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u54976-3
	{
		z-index: 105;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		text-align: center;
		font-size: 25px;
		color: #FFFFFF;
		line-height: 30px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	#u54976-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	.nosvg #u54976-3,.nosvg #u54976-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u54976-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u54973-2,#u54976
	{
		padding-top: 21px;
	}

	#u54885
	{
		z-index: 6;
		min-height: 3482px;
		background-color: #FFFFFF;
	}

	#u54885_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
		padding-bottom: 50px;
	}

	#u54980-4
	{
		z-index: 53;
		width: 80px;
		min-height: 26px;
		text-align: center;
		font-size: 10px;
		color: #FFFFFF;
		line-height: 12px;
		font-weight: bold;
		left: 17.85%;
	}

	#u54980-2
	{
		padding-top: 7px;
	}

	#u54883-26
	{
		z-index: 7;
		min-height: 222px;
		margin-top: 50px;
		width: 64.38%;
		left: 17.78%;
	}

	#u54883-2,#u54883-4
	{
		font-size: 100px;
		line-height: 120px;
	}

	#u54883-5,#u54883-8,#u54883-12,#u54883-24
	{
		font-size: 15px;
		line-height: 18px;
	}

	#u54884-10
	{
		z-index: 33;
		margin-top: 40px;
		width: 64.38%;
		left: 17.78%;
	}

	#u54884-5
	{
		font-size: 15px;
		line-height: 21px;
	}

	#u54881
	{
		z-index: 43;
		height: 1330px;
		background-image: url("../images/undesignedreality_3-u54881-fr.jpg");
		margin-top: 56px;
		position: relative;
		width: 64.38%;
		left: 17.78%;
	}

	#u54879-4
	{
		z-index: 45;
		min-height: 8px;
		margin-top: 15px;
		width: 64.38%;
		left: 17.78%;
	}

	#u55328
	{
		z-index: 44;
		height: 1330px;
		background-image: url("../images/undesignedreality_2-u55328-fr.jpg");
		margin-top: 30px;
		position: relative;
		width: 64.38%;
		left: 17.78%;
	}

	#u55354-4
	{
		z-index: 49;
		min-height: 8px;
		margin-top: 15px;
		width: 64.38%;
		left: 17.78%;
	}

	#u54885-bw
	{
		z-index: 6;
		min-height: 3482px;
	}

	#pslideshowu55068,#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 84;
		min-height: 360px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 88;
		min-height: 360px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 96;
		min-height: 360px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 92;
		min-height: 360px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 360px;
		width: 25%;
		margin-left: 0%;
	}

	#u563,#u563-bw
	{
		z-index: 83;
	}

	#u44573-4
	{
		z-index: 100;
	}

	#u44573-4-bw
	{
		z-index: 100;
		margin-top: 27px;
	}
}

@media (min-width: 961px) and (max-width: 1140px)
{
	#muse_css_mq
	{
		background-color: #000474;
	}

	#bp_1140.active
	{
		display: block;
	}

	#page
	{
		min-height: 4097.975px;
		padding-bottom: 0px;
		max-width: 1140px;
	}

	#slideshowu55068
	{
		z-index: 2;
		width: 0.01px;
		height: 600px;
		position: relative;
		margin-right: -10000px;
	}

	#u55070
	{
		position: absolute;
		width: 1140px;
		height: 600px;
		background-color: transparent;
	}

	#u55070popup
	{
		z-index: 3;
	}

	#u55204
	{
		z-index: 4;
		width: 1140px;
		height: 600px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-right: -10000px;
		position: relative;
	}

	.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
	{
		cursor: pointer;
	}

	.SSSlideLoading /* slideshowFreeStyle */
	{
		background: url("../images/loading.gif") no-repeat center center;
	}

	#u168
	{
		z-index: 57;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 58;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#u54974
	{
		z-index: 109;
		width: 70px;
	}

	#u54973-4
	{
		z-index: 110;
		width: 70px;
		min-height: 70px;
		font-size: 25px;
		line-height: 30px;
	}

	#u54973-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#pu54975
	{
		padding-bottom: 70px;
		margin-top: -600px;
		width: 100%;
	}

	#u54975
	{
		z-index: 104;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u54976-3
	{
		z-index: 105;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		text-align: center;
		font-size: 25px;
		color: #FFFFFF;
		line-height: 30px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	#u54976-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	.nosvg #u54976-3,.nosvg #u54976-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u54976-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u54973-2,#u54976
	{
		padding-top: 21px;
	}

	#u54885
	{
		z-index: 6;
		min-height: 3444px;
		background-color: #FFFFFF;
	}

	#u54885_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
		padding-bottom: 50px;
	}

	#u54980-4
	{
		z-index: 53;
		width: 80px;
		min-height: 26px;
		text-align: center;
		font-size: 10px;
		color: #FFFFFF;
		line-height: 12px;
		font-weight: bold;
		left: 9.92%;
	}

	#u54980-2
	{
		padding-top: 7px;
	}

	#u54883-26
	{
		z-index: 7;
		min-height: 222px;
		margin-top: 50px;
		width: 80.18%;
		left: 9.92%;
	}

	#u54883-2,#u54883-4
	{
		font-size: 90px;
		line-height: 108px;
	}

	#u54883-5,#u54883-8,#u54883-12,#u54883-24
	{
		font-size: 15px;
		line-height: 18px;
	}

	#u54884-10
	{
		z-index: 33;
		margin-top: 32px;
		width: 80.18%;
		left: 9.92%;
	}

	#u54881
	{
		z-index: 43;
		height: 1330px;
		background-image: url("../images/undesignedreality_3-u54881-fr.jpg");
		margin-top: 50px;
		position: relative;
		width: 80.18%;
		left: 9.83%;
	}

	#u54879-4
	{
		z-index: 45;
		min-height: 8px;
		margin-top: 15px;
		width: 80.09%;
		left: 10%;
	}

	#u55328
	{
		z-index: 44;
		height: 1330px;
		background-image: url("../images/undesignedreality_2-u55328-fr.jpg");
		margin-top: 30px;
		position: relative;
		width: 80.18%;
		left: 9.83%;
	}

	#u55354-4
	{
		z-index: 49;
		min-height: 8px;
		margin-top: 15px;
		width: 80.09%;
		left: 10%;
	}

	#u54885-bw
	{
		z-index: 6;
		min-height: 3444px;
	}

	#pslideshowu55068,#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 84;
		min-height: 284px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 88;
		min-height: 284px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 96;
		min-height: 284px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 92;
		min-height: 284px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 284px;
		width: 25%;
		margin-left: 0%;
	}

	#pu563
	{
		margin-top: 1px;
	}

	#u563,#u563-bw
	{
		z-index: 83;
	}

	#u44573-4
	{
		z-index: 100;
	}

	#u44573-4-bw
	{
		z-index: 100;
		margin-top: 27px;
	}
}

@media (min-width: 769px) and (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		min-height: 4160px;
		max-width: 960px;
	}

	#slideshowu55068
	{
		z-index: 2;
		width: 0.01px;
		height: 600px;
		position: relative;
		margin-right: -10000px;
	}

	#u55070
	{
		position: absolute;
		width: 960px;
		height: 600px;
		background-color: transparent;
	}

	#u55070popup
	{
		z-index: 3;
	}

	#u55204
	{
		z-index: 4;
		width: 960px;
		height: 600px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-right: -10000px;
		position: relative;
	}

	.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
	{
		cursor: pointer;
	}

	.SSSlideLoading /* slideshowFreeStyle */
	{
		background: url("../images/loading.gif") no-repeat center center;
	}

	#u168
	{
		z-index: 57;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 58;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#u54974
	{
		z-index: 109;
		width: 70px;
	}

	#u54973-4
	{
		z-index: 110;
		width: 70px;
		min-height: 70px;
		font-size: 25px;
		line-height: 30px;
	}

	#u54973-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#pu54975
	{
		padding-bottom: 70px;
		margin-top: -600px;
		width: 100%;
	}

	#u54975
	{
		z-index: 104;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u54976-3
	{
		z-index: 105;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		text-align: center;
		font-size: 25px;
		color: #FFFFFF;
		line-height: 30px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	#u54976-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	.nosvg #u54976-3,.nosvg #u54976-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u54976-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u54973-2,#u54976
	{
		padding-top: 21px;
	}

	#u54885
	{
		z-index: 6;
		min-height: 3373px;
		background-color: #FFFFFF;
	}

	#u54885_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
		padding-bottom: 50px;
	}

	#u54980-4
	{
		z-index: 53;
		width: 80px;
		min-height: 26px;
		text-align: center;
		font-size: 10px;
		color: #FFFFFF;
		line-height: 12px;
		font-weight: bold;
		left: 2.09%;
	}

	#u54980-2
	{
		padding-top: 7px;
	}

	#u54883-26
	{
		z-index: 7;
		min-height: 222px;
		margin-top: 50px;
		width: 95.84%;
		left: 2.09%;
	}

	#u54883-2,#u54883-4
	{
		font-size: 80px;
		line-height: 96px;
	}

	#u54883-5,#u54883-8,#u54883-12,#u54883-24
	{
		font-size: 15px;
		line-height: 18px;
	}

	#u54884-10
	{
		z-index: 33;
		margin-top: 38px;
		width: 95.84%;
		left: 2.09%;
	}

	#u54881
	{
		z-index: 43;
		height: 1303px;
		background-image: url("../images/undesignedreality_3-u54881-fr2.jpg");
		margin-top: 50px;
		position: relative;
		width: 95.84%;
		left: 2.09%;
	}

	#u54879-4
	{
		z-index: 45;
		min-height: 8px;
		margin-top: 16px;
		width: 95.84%;
		left: 2.09%;
	}

	#u55328
	{
		z-index: 44;
		height: 1303px;
		background-image: url("../images/undesignedreality_2-u55328-fr2.jpg");
		margin-top: 30px;
		position: relative;
		width: 95.73%;
		left: 2.09%;
	}

	#u55354-4
	{
		z-index: 49;
		min-height: 8px;
		margin-top: 15px;
		width: 95.84%;
		left: 2.09%;
	}

	#u54885-bw
	{
		z-index: 6;
		min-height: 3373px;
	}

	#pslideshowu55068,#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 84;
		min-height: 240px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 88;
		min-height: 240px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 96;
		min-height: 240px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 92;
		min-height: 240px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 240px;
		width: 25%;
		margin-left: 0%;
	}

	#u563,#u563-bw
	{
		z-index: 83;
	}

	#u44573-4
	{
		z-index: 100;
	}

	#u44573-4-bw
	{
		z-index: 100;
		margin-top: 27px;
	}
}

@media (min-width: 517px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 3459px;
		max-width: 768px;
	}

	#slideshowu55068
	{
		z-index: 2;
		width: 0.01px;
		height: 600px;
		position: relative;
		margin-right: -10000px;
	}

	#u55070
	{
		position: absolute;
		width: 768px;
		height: 600px;
		background-color: transparent;
	}

	#u55070popup
	{
		z-index: 3;
	}

	#u55204
	{
		z-index: 4;
		width: 768px;
		height: 600px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-right: -10000px;
		position: relative;
	}

	.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
	{
		cursor: pointer;
	}

	.SSSlideLoading /* slideshowFreeStyle */
	{
		background: url("../images/loading.gif") no-repeat center center;
	}

	#u168
	{
		z-index: 57;
		width: 350px;
		position: relative;
		margin-right: -10000px;
	}

	#menuu170
	{
		z-index: 58;
		width: 305px;
		position: relative;
		margin-right: -10000px;
		left: 70px;
	}

	#u171
	{
		width: 74px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
	}

	#u174
	{
		width: 74px;
		padding-bottom: 54px;
		position: relative;
	}

	#u174:hover
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u174.MuseMenuActive
	{
		width: 74px;
		min-height: 0px;
		margin: 0px;
	}

	#u177-4
	{
		width: 74px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u174:hover #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u174.MuseMenuActive #u177-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 74px;
		margin: 0px -10000px 0px 0px;
	}

	#u192
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 76px;
	}

	#u193
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u195-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193:hover #u195-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u185
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 153px;
	}

	#u186
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u193.MuseMenuActive,#u186:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u187-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u193.MuseMenuActive #u195-4,#u186:hover #u187-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u178
	{
		width: 75px;
		min-height: 70px;
		position: relative;
		margin-right: -10000px;
		left: 230px;
	}

	#u181
	{
		width: 75px;
		padding-bottom: 54px;
		position: relative;
	}

	#u186.MuseMenuActive,#u181:hover
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u181.MuseMenuActive
	{
		width: 75px;
		min-height: 0px;
		margin: 0px;
	}

	#u182-4
	{
		width: 75px;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		top: 27px;
	}

	#u186.MuseMenuActive #u187-4,#u181:hover #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u181.MuseMenuActive #u182-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 16px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#u54974
	{
		z-index: 109;
		width: 70px;
	}

	#u54973-4
	{
		z-index: 110;
		width: 70px;
		min-height: 70px;
		font-size: 25px;
		line-height: 30px;
	}

	#u54973-4:hover
	{
		min-height: 70px;
		width: 70px;
	}

	#pu54975
	{
		padding-bottom: 70px;
		margin-top: -600px;
		width: 100%;
	}

	#u54975
	{
		z-index: 104;
		width: 70px;
		height: 70px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u54976-3
	{
		z-index: 105;
		width: 70px;
		min-height: 70px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		text-align: center;
		font-size: 25px;
		color: #FFFFFF;
		line-height: 30px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	#u54976-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		width: 70px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	.nosvg #u54976-3,.nosvg #u54976-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u54976-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u54973-2,#u54976
	{
		padding-top: 21px;
	}

	#u54885
	{
		z-index: 6;
		min-height: 2859px;
		background-color: #FFFFFF;
	}

	#u54885_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
		padding-bottom: 50px;
	}

	#u54980-4
	{
		z-index: 53;
		width: 80px;
		min-height: 26px;
		text-align: center;
		font-size: 10px;
		color: #FFFFFF;
		line-height: 12px;
		font-weight: bold;
		left: 2.61%;
	}

	#u54980-2
	{
		padding-top: 7px;
	}

	#u54883-26
	{
		z-index: 7;
		min-height: 222px;
		margin-top: 50px;
		width: 94.8%;
		left: 2.61%;
	}

	#u54883-2,#u54883-4
	{
		font-size: 70px;
		line-height: 84px;
	}

	#u54883-5,#u54883-8,#u54883-12,#u54883-24
	{
		font-size: 15px;
		line-height: 18px;
	}

	#u54884-10
	{
		z-index: 33;
		margin-top: 32px;
		width: 94.8%;
		left: 2.61%;
	}

	#u54881
	{
		z-index: 43;
		height: 1051px;
		background-image: url("../images/undesignedreality_3-u54881-fr3.jpg");
		margin-top: 50px;
		position: relative;
		width: 94.8%;
		left: 2.61%;
	}

	#u54879-4
	{
		z-index: 45;
		min-height: 8px;
		margin-top: 15px;
		width: 94.8%;
		left: 2.61%;
	}

	#u55328
	{
		z-index: 44;
		height: 1051px;
		background-image: url("../images/undesignedreality_2-u55328-fr3.jpg");
		margin-top: 30px;
		position: relative;
		width: 94.8%;
		left: 2.61%;
	}

	#u55354-4
	{
		z-index: 49;
		min-height: 8px;
		margin-top: 15px;
		width: 94.8%;
		left: 2.48%;
	}

	#u54885-bw
	{
		z-index: 6;
		min-height: 2859px;
	}

	#pslideshowu55068,#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 84;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 88;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 96;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 92;
		min-height: 192px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 192px;
		width: 25%;
		margin-left: 0%;
	}

	#u563,#u563-bw
	{
		z-index: 83;
	}

	#u44573-4
	{
		z-index: 100;
	}

	#u44573-4-bw
	{
		z-index: 100;
		margin-top: 27px;
	}
}

@media (min-width: 321px) and (max-width: 516px)
{
	#muse_css_mq
	{
		background-color: #000204;
	}

	#bp_516.active
	{
		display: block;
	}

	#page
	{
		min-height: 2424px;
		max-width: 516px;
	}

	#ptop
	{
		width: 0.01px;
		margin-right: -10000px;
	}

	#top
	{
		position: relative;
		width: 22px;
		margin-right: -10000px;
	}

	#u54974
	{
		z-index: 120;
		width: 40px;
	}

	#u54973-4
	{
		z-index: 121;
		width: 40px;
		min-height: 40px;
		font-size: 20px;
		line-height: 24px;
	}

	#u54973-4:hover
	{
		min-height: 40px;
		width: 40px;
	}

	#slideshowu55068
	{
		z-index: 2;
		width: 0.01px;
		height: 600px;
		position: relative;
		margin-right: -10000px;
	}

	#u55070
	{
		position: absolute;
		width: 516px;
		height: 600px;
		background-color: transparent;
	}

	#u55070popup
	{
		z-index: 3;
	}

	#u55204
	{
		z-index: 4;
		width: 516px;
		height: 600px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-right: -10000px;
		position: relative;
	}

	.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
	{
		cursor: pointer;
	}

	.SSSlideLoading /* slideshowFreeStyle */
	{
		background: url("../images/loading.gif") no-repeat center center;
	}

	#u63688
	{
		z-index: 79;
	}

	#u63698-3
	{
		z-index: 80;
		min-height: 20px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u63698-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 20px;
		margin: 0px 0px 0px 0%;
	}

	#u63689
	{
		z-index: 83;
	}

	#u63692
	{
		min-height: 36px;
		padding-bottom: 37px;
		position: relative;
	}

	#u63695-4
	{
		min-height: 36px;
		position: relative;
		top: 18px;
	}

	#u63825
	{
		min-height: 36px;
		padding-bottom: 38px;
		position: relative;
	}

	#u63826-4
	{
		min-height: 36px;
		position: relative;
		top: 19px;
	}

	#u63919
	{
		min-height: 36px;
		padding-bottom: 38px;
		position: relative;
	}

	#u63920-4
	{
		min-height: 36px;
		position: relative;
		top: 19px;
	}

	#u70870
	{
		min-height: 36px;
		padding-bottom: 38px;
		position: relative;
	}

	#u70873-4
	{
		min-height: 36px;
		position: relative;
		top: 19px;
	}

	#u64101
	{
		min-height: 36px;
		padding-bottom: 38px;
		position: relative;
	}

	#u63692.MuseMenuActive,#u63825.MuseMenuActive,#u63919.MuseMenuActive,#u70870.MuseMenuActive,#u64101.MuseMenuActive
	{
		min-height: 36px;
		margin: 0px 0px 0px 0%;
	}

	#u64104-4
	{
		min-height: 36px;
		position: relative;
		top: 19px;
	}

	#u63692.MuseMenuActive #u63695-4,#u63825.MuseMenuActive #u63826-4,#u63919.MuseMenuActive #u63920-4,#u70870.MuseMenuActive #u70873-4,#u64101.MuseMenuActive #u64104-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 36px;
		margin: 0px 0px 0px 0%;
	}

	#u63822,#u63918,#u70869,#u64100
	{
		margin-top: 2px;
	}

	#menuu63690,#menuu63690-bw
	{
		z-index: 84;
		min-height: 377px;
	}

	#accordionu63687,#accordionu63687-bw
	{
		z-index: 78;
	}

	#pu54975
	{
		padding-bottom: 40px;
		margin-top: -600px;
		width: 100%;
	}

	#u54975
	{
		z-index: 115;
		width: 40px;
		height: 40px;
		background-color: #231F20;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u54976-3
	{
		z-index: 116;
		width: 40px;
		min-height: 40px;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		text-align: center;
		font-size: 20px;
		color: #FFFFFF;
		line-height: 24px;
		font-weight: bold;
		position: fixed;
		top: 0px;
		left: 0px;
		background: transparent url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	#u54976-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 40px;
		width: 40px;
		margin: 0px;
		background: #FFDE00 url("../images/top%20navigation.svg") no-repeat left top;
		background-size: 70px 70px;
	}

	.nosvg #u54976-3,.nosvg #u54976-3:hover
	{
		background-image: url('../images/top%20navigation_poster_u61160.png');
	}

	#u54976-3:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u54973-2,#u54976
	{
		padding-top: 8px;
	}

	#u54885
	{
		z-index: 6;
		min-height: 1837px;
		background-color: #FFFFFF;
	}

	#u54885_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
		padding-bottom: 30px;
	}

	#u54980-4
	{
		z-index: 53;
		width: 60px;
		min-height: 20px;
		line-height: 10px;
		left: 3.88%;
	}

	#u54883-26
	{
		z-index: 7;
		min-height: 150px;
		margin-top: 30px;
		width: 92.25%;
		left: 3.88%;
	}

	#u54883-2,#u54883-4
	{
		font-size: 40px;
		line-height: 48px;
	}

	#u54883-5,#u54883-8,#u54883-12
	{
		font-size: 10px;
		line-height: 12px;
	}

	#u54883-24
	{
		font-size: 10px;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u54883-15
	{
		font-size: 15px;
		line-height: 18px;
	}

	#u54883-13,#u54883-14,#u54883-17,#u54883-18,#u54883-19,#u54883-21,#u54883-22,#u54883-23
	{
		line-height: 12px;
	}

	#u54884-10
	{
		z-index: 33;
		line-height: 14px;
		font-size: 10px;
		margin-top: 30px;
		width: 92.25%;
		left: 3.88%;
	}

	#u54881
	{
		z-index: 43;
		height: 669px;
		background-image: url("../images/undesignedreality_3-u54881-fr4.jpg");
		margin-top: 30px;
		position: relative;
		width: 92.06%;
		left: 4.07%;
	}

	#u54879-4
	{
		z-index: 45;
		min-height: 1px;
		margin-top: 10px;
		width: 92.06%;
		left: 4.07%;
	}

	#u55328
	{
		z-index: 44;
		height: 669px;
		background-image: url("../images/undesignedreality_2-u55328-fr4.jpg");
		margin-top: 15px;
		position: relative;
		width: 92.06%;
		left: 4.07%;
	}

	#u55354-4
	{
		z-index: 49;
		min-height: 1px;
		margin-top: 10px;
		width: 92.06%;
		left: 3.88%;
	}

	#u54885-bw
	{
		z-index: 6;
		min-height: 1837px;
	}

	#pptop,#pu44404-4
	{
		width: 100%;
	}

	#u44404-4
	{
		z-index: 58;
		min-height: 140px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
	}

	#u44405-4
	{
		z-index: 62;
		min-height: 140px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 25%;
	}

	#u44407-4
	{
		z-index: 70;
		min-height: 140px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 50%;
	}

	#u44406-4
	{
		z-index: 66;
		min-height: 140px;
		position: relative;
		margin-right: -10000px;
		width: 25%;
		left: 75%;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-right: -10000px;
		min-height: 140px;
		width: 25%;
		margin-left: 0%;
	}

	#u563,#u563-bw
	{
		z-index: 57;
	}

	#u44573-4
	{
		z-index: 74;
	}

	#u44573-4-bw
	{
		z-index: 74;
		margin-top: 28px;
	}

}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 2425.9500000000003px;
		padding-bottom: 0px;
		max-width: 320px;
	}

	#paccordionu63687
	{
		width: 100%;
	}

	#u63688
	{
		z-index: 74;
	}

	#u63698-3
	{
		z-index: 75;
		min-height: 19px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u63698-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 19px;
		margin: 0px 0px 0px 0%;
	}

	#u63689
	{
		z-index: 78;
	}

	#u63692
	{
		min-height: 36px;
		padding-bottom: 44px;
		position: relative;
	}

	#u63695-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u63825
	{
		min-height: 36px;
		padding-bottom: 44px;
		position: relative;
	}

	#u63826-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u63919
	{
		min-height: 36px;
		padding-bottom: 44px;
		position: relative;
	}

	#u63920-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u70870
	{
		min-height: 36px;
		padding-bottom: 45px;
		position: relative;
	}

	#u70873-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u64101
	{
		min-height: 36px;
		padding-bottom: 45px;
		position: relative;
	}

	#u63692.MuseMenuActive,#u63825.MuseMenuActive,#u63919.MuseMenuActive,#u70870.MuseMenuActive,#u64101.MuseMenuActive
	{
		min-height: 36px;
		margin: 0px 0px 0px 0%;
	}

	#u64104-4
	{
		min-height: 36px;
		position: relative;
		top: 22px;
	}

	#u63692.MuseMenuActive #u63695-4,#u63825.MuseMenuActive #u63826-4,#u63919.MuseMenuActive #u63920-4,#u70870.MuseMenuActive #u70873-4,#u64101.MuseMenuActive #u64104-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 36px;
		margin: 0px 0px 0px 0%;
	}

	#u63822,#u63918,#u70869,#u64100
	{
		margin-top: 2px;
	}

	#menuu63690,#menuu63690-bw
	{
		z-index: 79;
		min-height: 410px;
	}

	#accordionu63687,#accordionu63687-bw
	{
		z-index: 73;
	}

	#u54974
	{
		z-index: 110;
		width: 40px;
		margin-top: 1px;
	}

	#u54973-4
	{
		z-index: 111;
		width: 40px;
		min-height: 40px;
		font-size: 20px;
		line-height: 24px;
	}

	#u54973-4:hover
	{
		min-height: 40px;
		width: 40px;
	}

	#u54973-2
	{
		padding-top: 8px;
	}

	#u54980-4
	{
		z-index: 48;
		width: 60px;
		min-height: 20px;
		line-height: 10px;
		margin-top: 30px;
		margin-left: 6.25%;
	}

	#u54883-26
	{
		z-index: 2;
		min-height: 150px;
		margin-top: 30px;
		width: 87.5%;
		margin-left: 6.25%;
	}

	#u54883-2,#u54883-4
	{
		font-size: 40px;
		line-height: 48px;
	}

	#u54883-5,#u54883-8,#u54883-12,#u54883-24
	{
		font-size: 15px;
		line-height: 18px;
	}

	#u54884-10
	{
		z-index: 28;
		line-height: 21px;
		font-size: 15px;
		margin-top: 12px;
		width: 87.82%;
		margin-left: 6.25%;
	}

	#u54881
	{
		z-index: 38;
		height: 516px;
		background-image: url("../images/undesignedreality_3.jpg");
	}

	#u54881-bw
	{
		z-index: 38;
		margin-top: 32px;
		height: 516px;
	}

	#u54879-4
	{
		z-index: 40;
		min-height: 1px;
		margin-top: 15px;
		width: 87.5%;
		margin-left: 6.25%;
	}

	#u55328
	{
		z-index: 39;
		height: 516px;
		background-image: url("../images/undesignedreality_2.jpg");
	}

	#u55328-bw
	{
		z-index: 39;
		margin-top: 30px;
		height: 516px;
	}

	#u55354-4
	{
		z-index: 44;
		min-height: 1px;
		margin-top: 10px;
		width: 87.5%;
		margin-left: 6.25%;
	}

	#u44404-4
	{
		z-index: 53;
		min-height: 80px;
	}

	#u44404-4-bw
	{
		z-index: 53;
		min-height: 80px;
		margin-top: 31px;
	}

	#u44405-4
	{
		z-index: 57;
		min-height: 80px;
	}

	#u44405-4-bw
	{
		z-index: 57;
		min-height: 80px;
	}

	#u44407-4
	{
		z-index: 65;
		min-height: 80px;
	}

	#u44407-4-bw
	{
		z-index: 65;
		min-height: 80px;
	}

	#u44406-4
	{
		z-index: 61;
		min-height: 80px;
	}

	#u44404-4:hover,#u44405-4:hover,#u44407-4:hover,#u44406-4:hover
	{
		margin-left: 0px;
		margin-right: 0px;
		min-height: 80px;
	}

	#u44406-4-bw
	{
		z-index: 61;
		min-height: 80px;
	}

	#u563,#u563-bw
	{
		z-index: 52;
	}

	#u44573-4
	{
		z-index: 69;
	}

	#u44573-4-bw
	{
		z-index: 69;
		margin-top: 27px;
	}

	body
	{
		min-width: 320px;
	}

}

