/* 0. Globals */
* { box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] { padding: 0px;
}
/* 0.1 Selection */
::-moz-selection {
    background-color: rgba(0,0,0,.99);
    color: #ffffff;
}
::selection {
    background-color: rgba(0,0,0,.99);
    color: #ffffff;
}
/* 0.1 Grid layout */
.grid-wrapper {
  width: 100%;
}
.grid-container {
  display: grid;
  max-width: 960px;
  margin: 0 auto 30px auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 24px;
  padding: 0 24px;
}

.box1 {
  grid-column: 1/13;
}
.box2, .box5, .box8, .box11, .box14 {
  grid-column: 1/5;
}
.box3, .box6, .box9, .box12, .box15 {
  grid-column: 5/9;
}
.box4, .box7, .box10, .box13 {
  grid-column: 9/13;
}

.grid-full {
  grid-column: 1/13;

}
.grid-half-left {
  grid-column: 1/7;
  display: flex;
  flex-direction: column;
}
.grid-half-right {
  grid-column: 7/13;
  display: flex;
  flex-direction: column;
}
.grid-thirds-first {
  grid-column: 1/5;
}
.grid-thirds-second {
  grid-column: 5/9;
}
.grid-thirds-third {
  grid-column: 9/13;
}


/*Responsive layout*/
@media only screen and (max-width: 840px) {
  .grid-container {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid-card {
    width: 248px;
  }
  .box1, .box3, .box5, .box7, .box9, .box11, .box13, .box15 {
    grid-column: 1/7;
    justify-self: end;
  }
  .box2, .box4, .box6, .box8, .box10, .box12, .box14 {
    grid-column: 7/13;
    justify-self: start;
  }
  /*about page grid image responsiveness*/
  .girdImage {
    grid-template-columns: repeat (3, 1fr);
  }
  .gridImage-4, .gridImage-5, .gridImage-9, .gridImage-10 {
    display: none;
  }
}

@media only screen and (max-width: 720px){
  .grid-container {
    grid-gap: 16px;
    padding: 0 16px;
  }
}

@media only screen and (max-width: 600px){
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-card {
    background-color: #FF7474;
  }
  .box1, .box3, .box5, .box7, .box9, .box11, .box13, .box15 {
    grid-column: 1/3;
  }
  .box2, .box4, .box6, .box8, .box10, .box12, .box14 {
    grid-column: 3/5;
  }
  .grid-full, .grid-half-left, .grid-half-right {
    grid-column: 1/5;
  }
  .grid-thirds-first, .grid-thirds-second, .grid-thirds-third {
    grid-column: 2/4;
  }
  /*about page grid image responsiveness*/
  .girdImage {
    grid-template-columns: repeat (4, 1fr);
  }
  div[class^="gridImage-"]{
    height: 148px;
  }
  .gridImage-3, .gridImage-4, .gridImage-5, .gridImage-8, .gridImage-9, .gridImage-10 {
    display: none;
  }
}

@media only screen and (max-width: 544px) {
  .grid-card {
    width: 100%;
    min-width: 216px;
  }
}

@media only screen and (max-width: 480px) {
  .grid-card {
    justify-self: center;
    grid-column: 1/5;
    width: 100%;
  }
  div.animation {
    display: none;
  }
}

@media only screen and (min-width: 479px) {
  }
}
/* 0.2 Styling preset */
/* 0.2.1 Typography */
h1,h2,h3,h4,h5 {
 font-family: "Montserrat", sans-serif;
 margin: 0px;
 margin-top: 0px !important;
}
a {
  text-decoration: none;
  outline:0;
}
a:hover {
  text-decoration: none !important;
  cursor: pointer !important;
}
a[href^="mailto:"],
a[href^="tel:"] {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
  margin: 0px;
  color: #d8d8d9;
  text-decoration: underline;
}
img {
  display: block;
}

p {
  margin-bottom: 30px;
}
p.post-contents {
  margin-bottom: 56px;
}

.bold {
  font-weight: bold !important;
}
.white {
  color: #FFFFFF !important;
}
.left {
  text-align: left !important;
}
.post-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 800;
  font-style: normal;
  color: #303034;
  margin: 0;
  letter-spacing: 0.8px;
  line-height: 1.2;
}
.post-heading_2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  margin: 0 0 20px 0;
  color: #303034;
}

.post-sub-heading_1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  margin: 0 0 20px 0;
  color: #303034;
}
.post-sub-heading_2 {
  font-family: "Montserrat", times, serif;
  font-weight: 300;
  font-size: 18px;
  color: #303034;
  margin: 0;
  font-style: normal;
}
.post-sub-heading_3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #303034;
  margin:0;
}
.post-sub-heading_4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #303034;
  margin:0;
}
.post-sub-heading-link {
  font-family: "Montserrat", times, serif;
  font-weight: 300;
  font-size: 14px;
  color: #8A8A8D;
  margin: 0;
  font-style: normal;
  text-decoration: underline;
}
.post-contents {
  font-family: "Montserrat", sans-serif;
  color: #636367;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  line-height: 1.4;
}

.post-contents_2 {
  font-family: "Montserrat", sans-serif;
  color: #D8D8D9;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  margin: 0;
}

.post-contents_link {
  font-family: "Montserrat", sans-serif;
  color: #1432FF;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  margin: 0;
}
.post-contents-link-2 {
  font-family: "Montserrat", sans-serif;
  color: #666666;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  margin: 0px;
}
.post-description {
  display: block;
  font-family: 'Sanchez', serif;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  margin: 0px;
  color: #636367;
  text-align: right;
  margin: 10px 0 20px 0;
}
.post-description_2 {
  font-family: 'Sanchez', serif;
  color: #636367;
  font-size: 16px;
  font-style: normal;
  line-height: 1.6;
}
.post-description_2_link {
  font-family: 'Sanchez', serif;
  color: #1432FF;
  font-size: 16px;
  font-style: normal;
}
.post-quotes {
  font-family: 'Sanchez', serif;
  font-size: 18px;
  color: #303034;
  font-style: normal;
  margin: 0 0 24px 0;
}
.post-quotes_big {
  font-family: 'Sanchez', serif;
  font-size: 32px;
  color: #303034;
  font-style: normal;
  margin: 0 0 24px 0;
}
.post-quotes-link {
  font-family: 'Sanchez', serif;
  font-size: 16px;
  color: #1432FF;
  font-style: normal;
  margin: 0 0 24px 0;
}
.post-quotes-reference {
  font-family: 'Sanchez', serif;
  text-align: right;
  font-size: 12px;
  color: #636367;
  font-style: normal;
  margin: 0;
  right:0;
}

/* 0.2.2 Buttons */
.button_primary {
  display: block;
  font-size: 14px;
  color: #ffffff;
  background-color: #3C3C41;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  height: 32px;
  padding: 0 12px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
}
.button_quite {
  display: block;
  font-size: 14px;
  color: #3C3C41;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  height: 32px;
  padding: 0 12px;
  cursor: pointer;
  border: 1px solid #3C3C41;
  border-radius: 2px;
}
button:focus {outline:0;
}
.tag-button-black {
  display: block;
  background-color: #303034;
  color: white;
  border: 0;
  ;
  border: 0px;
  margin: 0px;
}

.tag-button-white {
  display: block;
  background-color: white;
  color: #303034;
  border: 0;
  ;
}

.tag-button-white:hover {
  background-color: #EFF0F0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.button-button-black {
  display: block;
  background-color: transparent;
  color: #303034;
  border: 3px solid #303034;
  ;
  margin: 0 auto;
}
.button-button-white {
  display: block;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  ;
  margin: 0 auto;
}
.button-button-black:hover {
  display: block;
  background-color: #303034;
  color: white;
  border: 3px solid #303034;
  ;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.button-button-white:hover {
  display: block;
  background-color: white;
  color: #303034;
  border: 3px solid white;
  ;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.goBack {
  display: inline-block;
  color: #303034;
  ;
  background-color: transparent;
  border: 0;
  line-height: 28px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-align: middle;
  vertical-align: middle;
  text-decoration: none;
  height: 28px;
  letter-spacing: 0.5px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.goBack:hover {
  color: #ffffff;
  background-color: #303034;
}
/* 0.2.3 ETC */
hr {
  border-width: 1.6px;
  border-color: #303034;
  margin:0;
  padding:0;
}
.videoWrapper {
  width: 100%;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  margin: 30px 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  border: 0;
}
/* 0.3 Layouts */
html,
body {
  height: 100%;
  min-height: 100%;
  margin:0;
  padding:0;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
}
.background {
  background-color: rgba(245, 245, 245, 1);
}
.site-wrapper {
  display:table;
  width: 100% ;
  height: 100% ;
}

.site-wraper-inner {
  display:table-cell;
  vertical-align: top;
}
.cover-container {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  position: relative;
}
/* 0.4 Masthead */
header {
  width: 100%;
/* fixed menu */
  top: 0;
  left: 0;
  z-index: 100;
}
#navbar {
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  position: fixed;
}
header.smaller {
  border-bottom: 1px solid #E8E8E8;
  background-color: rgba(245, 245, 245, 1);
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  header.smaller {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(245, 245, 245, 0.8);
  }
}
.masthead-center {
  max-width: 912px;
  margin: 0 auto;
}
.brand {
  display: inline-block;
  float:left;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  width: 64px;
  height: 64px;
  text-decoration: none;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

#logo {
  background-color: #303034;
  background-image: url("svgs/brand_new.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
/* 0.4.1 Mobile menu */
.menu-mobile {
  height: 50px;
  width: 100%;
}
.menu-icon {
  margin-right: 30px;
  cursor: pointer;
  float: right;
  margin-top: 11px;
  display: inline-block;
}
.bar1,.bar2,.bar3,.bar1-w,.bar2-w,.bar3-w {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.bar1,.bar2,.bar3 {
  background-color: white;
}
.bar1-w,.bar2-w,.bar3-w {
  background-color: #303034;
}
/* 0.4.2 Desktop menu */
nav > ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 text-align: left;
}
.masthead-nav > li {
 display: inline;
 color: #303034;
 padding-left: 36px;
 -webkit-transition: all .3s ease;
 -moz-transition: all .3s ease;
 -ms-transition: all .3s ease;
 -o-transition: all .3s ease;
 transition: all .3s ease;
}
.masthead-nav > li > a {
  display: inline-block;
  color: #303034;
  text-decoration: none;
  line-height: 64px;
  font-size: 14px;
  letter-spacing: 0.25px;
  font-weight: 600;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.masthead-nav > li > a > span.current {
  border-bottom: 2px solid #303034;
  padding: 3px 0;
  color: #303034;
}
.masthead-nav > li > a:hover {
   text-decoration: none;
   color: #636367;
 }
.masthead-nav > li > a:active {
  text-decoration: none;
  color: #303034;
  outline:0;
}
.masthead-nav > li > a:focus {
  text-decoration: none;
  outline:0;
}
.masthead-nav .icon {display: none;
}
.menu-desktop-icon {
  height: 50px;
  width: 100%;
  display: none;
}
/* 0.4.3 Fullscreen menu */
.overlay,
.overlay-w {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  left:0;
  top:0;
  overflow-y: hidden;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.overlay {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,1);
}
.overlay-w {
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,1);
}
div.post-heading.overlay-contents,
div.post-heading.overlay-contents-w {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin: 0;
  text-align: center;
  display: table-cell;
  position: absolute;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.post-heading.overlay-contents {
  color: white;
}
div.post-heading.overlay-contents-w {
  color: #303034;
}
.overlay a,.overlay-w a {
  display: block;
  line-height: 1;
  padding: 10px;
}
.overlay a {
  color: white;
}
.overlay-w a {
  color: #303034;
}

.overlay a:hover {
  color: white;
}
.overlay-w a:hover {
  color: #303034;
}

.overlay a.closebtn {
  position: absolute;
  top: 3px;
  right: 21px;
  font-size: 40px;
  padding: 0;
  color: white;
}
.overlay-w a.closebtn-w {
  position: absolute;
  top: 3px;
  right: 21px;
  font-size: 40px;
  padding: 0;
  color: #303034;
}
.overlay a .closebtn-w:hover,
.overlay a .closebtn:hover {
  text-decoration: none;
}

.overlay-contents > a > span:hover {
  border-bottom: 5px solid white;
  padding: 0px 0;
}

.overlay-contents-w > a > span:hover {
  border-bottom: 5px solid #303034;
  padding: 0px 0;
}
/* 0.5 Mastfoot */
.mastfoot {
  width: 100%;
  height: auto;
  background-color: #303034;
  color: white;
  overflow: auto;
}
.mastfoot-contents {
  margin: 0 auto;
  padding: 28px 0;
  max-width: 960px;
}
.mastfoot-information {
  display: inline-block;
  margin-left: 24px;
}
.mastfoot-navigation {
  display: inline-block;
  color: #303034;
  float: right;
  text-align: right;
}
.mastfoot-information > h3 {
  margin-bottom: 8px;
}

nav.mastfoot-nav {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 800;
  font-style: normal;
  margin: 0px;
  letter-spacing: 0.5px;
}
.mastfoot-nav > ul > li {
 margin: 0px 0px 8px 0px;
}
.mastfoot-nav > ul > li > a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0px 12px;
  height: 48px;
  line-height: 48px;
}
.mastfoot-nav >ul > li > a:hover {
  color:#303034;
  background-color: white;
 }
.mastfoot-nav >ul > li > a > span.current {
  border-bottom: 3px solid white;
}
.mastfoot-nav > li > a:active {text-decoration: none;
}
.mastfoot-nav > li > a:focus {text-decoration: none;
}

.social {
  margin-top: 18px;
  margin-left: -5px;
}
.social-hover {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 5px;
}
.social-hover:hover {
  margin: 0 5px;
  background-color: #666666;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
img.social-icons {
  width: 30px;
  height: 30px;
}

/* Style all font awesome icons */
.socialnetwork {
margin-top: 16px;
}
.fa {
  color:#D8D8D9;
  font-size: 30px;
  text-align: left;
  text-decoration: none;
  margin-right: 16px;
}

/* Add a hover effect if you want */
.fa:hover {
  color: #636367;
}

/* Set a specific color for each brand */


/* Until here, it's global setting! */
/* From now on, it's loca settings for individual pages */
/* 1. HOME PAGE - index.html */
.all-contents {
  overflow: hidden;
  position: absolute;
  width: 100%;
  left:0;
  top:0;
  background-color: #F5F5F5;
}
/* 1.1 Animation */
.animation {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: table;
  vertical-align: middle;
  position: relative;
}

.animation-contents {
  position: absolute;
  display:table-cell;
  vertical-align: middle;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%
}
/* animated cursor */
.ityped-cursor {
    opacity: 1;
    color: grey;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

h2.post-heading {
  padding: 0 10px;
}

/* 1.2 Profile */
.profile {
  width: 100%;
  height: auto;
  position: relative;
}
.profile-image {
  z-index: -1000;
  display: none;
  top:0;
  left:0;
  width: 100%;
  padding-bottom: 80px;
}

#profile-small {
  width: 45%;
  height: 45%;
  max-width: 180px;
  max-height: 180px;
  border-radius: 50%;
  margin: 80px 0 50px 0;
}
.profile-contents {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 0 10px 50px 10px;
  overflow: visible;
}
.profile-contents-inner {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.profile-name {
  color: #303034;
  display: inline-block;
}
.short-line {margin: 50px 0px;
}
#profile-description {
  margin-bottom: 50px;
}
/* 1.3 Featured-works */
.featured-works {
  width: 100%;
  height: auto;
  background-color: #303034;
}
.featured-works-wrapper {padding-bottom: 70px;
}
.featured-works-wrapper.background-dots {
  height: auto;
}
.featured-workslac-contents {
  margin: 0 auto;
  padding: 0px;
  overflow: visible;
}
.featured-works-navigation {height: auto;
}
/* 1.3.1 Slider menu */
.swiper-container {
        width: 100%;
        height: 400px;
        margin: 80px 0 50px;
}
.swiper-slide {
     width: 75% !important;
     text-align: center;
     cursor: pointer;
}
#swiper-tag {position: absolute;
  padding: 0 10px;
}
.image-wrapper {position: relative;
}
.img1, .img2, .img3 {
  display: block;
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#swiper-tag {
  position: absolute;
  z-index: 50;
}
.img1 {background-image: url('imgs/featured-works-carousel-1.jpg');
}
.img2 {background-image: url('imgs/featured-works-carousel-2.jpg');
}
.img3 {background-image: url('imgs/featured-works-carousel-3.jpg');
}
.img-wrapper:hover .swiper-overlay {opacity: 1;
}
.swiper-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0,0,0,1);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.slide-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 0 10px;
}
.slide-text-title {
  position: relative;
  margin-bottom: 20px;
  color: white;
}
.slide-text-sub-title {
  position: relative;
  color: white !important;
}
.slide-text-sub-title span {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}
.swiper-button-next,
.swiper-button-prev {
  margin: 0 50px;
  width: 40px !important;
  height: 40px !important;
}
.swiper-pagination {margin: 0 auto;
}

.swiper-container-tablet {display: none;
}
/* 1.3.2 Slider menu for tablet */
@media only screen and (max-width: 768px) {
  .swiper-container {display: none;
  }
  .swiper-container-tablet {
    display: block;
    margin: 80px auto 50px auto;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .img-tablet-box {position: relative;
  }
  .img-tablet {
    height: 250px;
    margin: 30px 0;
  }
  .img-tablet-box:hover .swiper-overlay {opacity: 1;
  }
  .slide-text-title {font-size: 25px;
  }
  .slide-text-sub-title {font-size: 14px;
  }
}
/* 1.3.3 Slider menu for mobile */
@media only screen and (max-width: 600px) {
  .swiper-container-tablet {padding: 0 10px;
  }
  .img-tablet {margin: 10px 0;
  }
  #swiper-tag {margin-left: 0px;
  }
}
/* 1.4 Some facts */
.some-facts {
  height: auto;
  width: 100%;
  padding-bottom: 80px;
  background-color: white;
}
.some-facts-contents {
  padding: 0 10px;
  text-align: center;
  margin: 0 auto;
  overflow: visible;
}
.some-facts-container {
  width: 100%;
  margin-top: 80px;
}
.some-facts-box-1,
.some-facts-box-2,
.some-facts-box-3 {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  text-align: center;
  padding-bottom: 50px;
  position: relative;
}
.hover {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  margin-left: -75px;
}
.icon {
  width: 150px;
  height: 150px;
  background-color: transparent;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -75px;
}
h3.numbers {
  font-size: 60px;
  font-weight: 800;
  color: #303034;
  text-align: center;
  margin: 30px 0 30px 0;
  padding-top: 160px;
}
h3.numbers_2 {
  font-size: 30px;
  font-weight: 800;
  color: #303034;
  text-align: center;
  margin: 30px 0 30px 0;
  padding-top: 160px;
}
a h5.post-contents:hover {text-decoration: underline;
}
.ityped-footer {
  color: white;
}
#footerNoAnimation {
  color: white;
}
/* Responsive Design*/
/* For mobile phones: */
[class*="col-"] {width: 100%;}
@media only screen and (max-width:480px) {
  /* Disable footer animation for mobile */
  #footerAnimation {
    display: none;
  }
  .motal-contents {
    display: none;
  }
  #headerAnimation {
    display: none;
  }
  .menu-mobile {background-color: #303034;
  }
  .menu-mobile-w {background-color: red;
  }
  .some-facts-box-1,
  .some-facts-box-2,
  .some-facts-box-3 {margin: 0;
  }
  .mastfoot-navigation {display: none;}
  .tag-button-white,
  .tag-button-#303034 {margin-left: -10px;
  }
  .videoWrapper {margin: 10px 0;
  }
}
/* For tablets */
@media only screen and (min-width: 600px) {
  /* Font-size */
  .post-heading {font-size: 55px;}
  .post-sub-heading_1 {font-size: 20px;}
  .post-sub-heading_2,
  .post-sub-heading-link {font-size: 18px;}
  h3.numbers {font-size: 80px;}
  nav.mastfoot-nav {font-size: 30px;}

  /* Alignment */
  .mastfoot-information {text-align: left;
  }
  /* menu */
  header {
    background-color: transparent;
    height: 64px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
  }
  .masthead-nav {display: block;
  }
  #logo {
    display: table-cell;
    vertical-align: middle;
    width: 64px;
    height: 64px;
    line-height: 64px;
    background-color: #303034;
    margin-left: 0;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
  }
  header.smaller #logo {
    height: 64px;
    width: 64px;
    line-height: 64px;
  }
  .menu-mobile-w {display: none;
  }
  header.smaller .menu-desktop-icon {display: block;
    border-bottom: 1px solidi red;
  }
  /* Contents*/
  .all-contents {margin-top: 64px;
  }
  .animation {height: calc(100vh - 64px);
  }
  .animation-contents {
    top: 45%;
  }
  #sectionTitle {
    margin-bottom: 20px;
    font-weight: bold;
  }
  #sectionTitle_normal {
    margin-bottom: 20px;
    font-weight: normal;
  }
  /* Interactive arrow */
  img.arrow-icon {display: inline-block;
  }
  #profile-small {
  width: 180px;
  height: 180px;
  }
  .nonityped-footer {
    display: none;
  }
  #footerNoAnimation {
    display: none;
  }
  #headerNoAnimation {
    display: none;
  }
}
/* For desktop: */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  /* Button */
  button,
  .goBack {
    height: 33px;
    font-size: 14px;
  }
  /* Font-size */
  .post-heading {font-size: 56px;
  }
  .post-sub-heading_1 {font-size: 20px;
  }
  .post-sub-heading_2,
  .post-sub-heading-link {font-size: 18px;
  }
  h3.numbers {font-size: 80px;
  }
  nav.mastfoot-nav {font-size: 35px;
  }
}
/*Profile image responsive setting particularly for the 1000px of screen size due to the blance the iamge and text layout */
@media only screen and (max-width: 1200px) {

}

@media only screen and (min-width: 1100px) {
  #profile-small {
    display: none;
  }
  .profile-image {
    display: inline-block;
    position: absolute;
    height: 100%;
    background-image: url('imgs/jaeyonglee_profile.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .profile-contents-inner {
    margin: 0;
    text-align: left;
    width: 350px;
  }
  p {
    margin-bottom: 30px;
  }

  /*button*/
  #profile-button {margin: 0;}
}

/* 2. WORK - work.html */
/* Tab */
.work-list {
  width: 100%;
  margin-bottom: 10px;
}
.work-list-contents {
  margin: 0 auto;
}
.tab {
   grid-column: 1/13;
   display: none;
   overflow: hidden;
   height: 35px;
   margin: 0 auto 6px auto;
}
.button {
  height: 35px;
  width: 92px;
  border: none;
  background-color: transparent;
  color: #303034;
  padding: 0 8px;
  margin: 0 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
}
div.tab button:not(:last-child) {
  border-right: none;
}
div.tab button:hover {
    color: #636367;
}
div.tab button.active {
    background-color: red;
    color: #303034;
}
.button.is-checked {
  background-color: #D8D8D8;
}
.button.is-checked:hover {
  color: #303034;
}
.button-group .button {
  float: left;
  border-radius: 2px;
  margin-left: 0;
}
/* ---- .element-item ---- */
.grid-card {
  border-radius: 2px;
  border: 1px solid #E8E8E8;
  background-color: #FFFFFF;
}
/*
.grid-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
*/
/* Magnifying images when it's hovered.
.grid-card:hover img {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}
*/
.element-item > * {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.element-item {
  position: relative;
  width: 100%;
  color: #262524;
  float: left;
}

.element-image-wrapper {
  border-radius: 1px 1px 0 0;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.element-item img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#password.element-image-wrapper {
  position: relative;
  width: 100%;
}
.element-image-wrapper:hover .lock{
  opacity: 0.8;
}
.lock {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100% !important;
    opacity: 0;
    transition: .3s ease;
    background-color: #303034;
}
.lockIcon {
  color: white;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.fa-user:hover {
  color: #eee;
}
#large {
  display: none;
}
#values-display {
  display: none;
}
#values {
  background-color:#303034;
  text-align: center;
  color: white;
  display: table-cell;
  vertical-align: middle;
}
#values:hover {
  border-bottom: none;
}
#values > div.element-texts  > h3.post-sub-heading_1 {
  margin: 0;
  text-align: left;
  padding: 20px;
}
#values > div.element-texts  > h3.post-sub-heading_1 span {
  text-decoration: underline;
}
/* card layout */
.element-texts {
  margin: 0 20px;
}
.element-texts > h3.post-sub-heading_1 {
  margin: 12px 0 8px 0;
}
.element-texts > p.post-sub-heading_2, p.post-sub-heading_3, p.post-sub-heading_4 {
  margin-bottom: 16px;
}
/* Responsive design */
/* Tablet */
@media only screen and (min-width: 600px) {
  .work-list {
    margin-bottom: 50px;
  }
  div.tab {
    display: block;
  }
  .element-texts h3.post-sub-heading_1 {
    font-size: 20px;
  }
  .element-texts p.post-sub-heading_2, .element-texts span.post-sub-heading-link {
    font-size: 18px;
  }
  #values-display {
    display: none;
  }
}
/* Desktop - small */
@media only screen and (min-width: 768px) {
  .element-texts h3.post-sub-heading_1 {
    font-size: 20px;
  }
  .element-texts p.post-sub-heading_2, .element-texts span.post-sub-heading-link {
    font-size: 18px;
  }
  #values-display {
    display: none;
  }
  .button {
    font-size: 14px;
  }
}
/* Desktop - large */
@media only screen and (min-width: 840px) {
  #small {
    display: none;
  }
  #large {
    display: inline-block;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}

/* 3. ABOUT - about.html */
.aboutme {
  width: 100%;
  height:auto;
}

.aboutme-contents {
  margin: auto;
  color: #303034;
  text-align: center;
}

.aboutme-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 80px auto 40px auto;
  background-color:#636367;
  background-image: url("imgs/jaeyonglee_profile_small.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.aboutme-contents h4.post-sub-heading_2,
div.aboutme-contents h4.post-sub-heading_2 a {
  color: #303034;
}
div.aboutme-contents p.post-contents {
  color: #666666;
  margin-bottom: 20px;
}
.aboutme-buttons {
  margin: 24px 0 80px 0;
}
#aboutme-buttons {
  display: inline-block;
  margin: 0 6px 0 6px;
  min-width: 95px;
}
#bottomAlign {
 display: flex;
 flex-direction: column;
 flex-grow: 1;
 justify-content: flex-end;
}
.grid-thirds-first, .grid-thirds-second, .grid-thirds-third {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
}
.grid-thirds-first-image, .grid-thirds-second-image, .grid-thirds-third-image {
  margin: auto;
  padding-bottom: 4px;
  justify-content: center;
}
#flexImage {
  max-width: 80%;
}
.grid-thirds-first > p.post-description_2_link {
  margin: 0;
}

/*grid image*/
.gridImage {
  display: grid;
  width: 100%;
  height: auto;
  grid-template: repeat (5, 1fr);
  grid-row: auto;
  grid-gap: 0px;
  padding: 0px;
  background-color: #D8D8D8;
}
div[class^="gridImage-"]{
  background-position: center;
  background-size: cover;
  height: 256px;
}
.gridImage-1 {
  background-image: url("imgs/about/gridImage01.png");
  grid-column: 1;
}
.gridImage-2 {
  background-image: url("imgs/about/gridImage02.png");
  grid-column: 2;
}
.gridImage-3 {
  background-image: url("imgs/about/gridImage03.png");
  grid-column: 3;
}
.gridImage-4 {
  background-image: url("imgs/about/gridImage04.png");
  grid-column: 4;
}
.gridImage-5 {
  background-image: url("imgs/about/gridImage05.png");
  grid-column: 5;
}
.gridImage-6 {
  background-image: url("imgs/about/gridImage06.png");
  grid-column: 1;
}
.gridImage-7 {
  background-image: url("imgs/about/gridImage07.png");
  grid-column: 2;
}
.gridImage-8 {
  background-image: url("imgs/about/gridImage08.png");
  grid-column: 3;
}
.gridImage-9 {
  background-image: url("imgs/about/gridImage09.png");
  grid-column: 4;
}
.gridImage-10 {
  background-image: url("imgs/about/gridImage10.png");
  grid-column: 5;
}

/* Some facts */
.aboutme-somefacts {
  height: auto;
  margin: 50px auto;
}
.somefacts-wrapper {
  width: 49%;
  display: inline-block;
}
.somefacts-wrapper::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
@media only screen and (max-width: 1000px) {
  .somefacts-wrapper {
    display: block;
    width: 100%;
  }
  div.somefacts {
    margin-bottom: 0px;
  }
}
.somefacts {
  display: table;
  height: auto;
  margin-bottom: 30px;
}

.somefacts-img {
  display: table-cell;
  vertical-align: middle;
}
.somefacts-img img {
  width: 40px;
  height: 40px;
}

.somefacts-txt {
 display: table-cell;
 text-align: left;
 vertical-align: middle;
 padding: 0 20px;
}

div.aboutme-contents article {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 50px;
}
div.aboutme-contents article .post-sub-heading_1 {
  color: #303034 !important;

}
div.aboutme-contents article .post-contents {
  color: #666666;
}

#seeMore {
  display: block;
  font-size: 12px;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-decoration: none;
  height: 28px;
  padding: 0 15px;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color: transparent;
  color: #303034;
  border: 3px solid #303034;
  font-weight: 600;
  margin: 0 auto 50px auto;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
#seeMore:focus {
  outline:0;
}
#seeMore:hover {
  display: block;
  background-color: #303034;
  color: white;
  border: 3px solid #303034;
  ;
  margin: 0 auto 50px auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
@media only screen and (min-width: 600px) {
  .aboutme-wrapper {
    padding: 0;
  }
  .aboutme-buttons, #seeMore {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {

  .somefacts-img img {
    width: 60px;
    height: 60px;
  }

}

/* 4. CONTACT - contact.html */

.getInTouch {
  width: 100%;
  height: auto;
}

.getInTouch-contents {
  margin: 0 auto;
  height: auto;
  padding: 0 10px;
}

.contactInformation,.socialMedia {
  display: inline-block;
  width: 100%;
  z-index: 10;
  text-align: center;
  padding: 0;
}

.contactInformation p a {
  color: #666666;
}
.contactInformation h3.post-sub-heading_1 {
  margin: 20px 0;
}
.contactInformation p.post-contents {
  margin-bottom: 30px;
}

.socialMedia h3.post-sub-heading_1 {
  margin: 20px 0;
}

.socialMedia > .social {margin: 30px 0px 30px -5px;
}
.socialMedia > .social > .social-hover {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #303034;
  margin: 10px 10px;
}
.socialMedia > .social > .social-hover:hover {
  margin: 10px 10px;
  background-color: #303034;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
#social img.social-icons {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.contactForm {
  z-index: 9;
  margin-top: 50px;
  float: left;
  width: 100%;
}

label {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-decoration: none;
  height: 28px;
  width: 100px;
  line-height: 28px;
  padding: 0 15px;
  letter-spacing: 0.5px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  background-color: #303034;
  color: white;
  border: 0;
  ;
}

input[type=text], select, textarea {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 16px;
    width: 100%;
    padding: 12px;
    border: 0px;
    border-radius: 0px;
    background-color: #F1F2F2;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 30px;
    resize: vertical;
}

input[type=text]:focus, select, textarea {
  outline: 0;
}

@media only screen and (min-width: 600px) {
  .getInTouch-contents {
    padding: 0;
  }
  .contactInformation,.socialMedia {
    width: 48%;
    margin: 0 1%;
    text-align: left;
  }
  label {
    font-size: 14px;
  }
}

/* 2.1 Contents of WORK */
/* WORK Global */
.contents-wrapper {
  width: 100%;
  height: auto;
  position: relative;
}
.contents-wrapper a {
  cursor: pointer;
}
/* Header section */
.head-section {
  height: 600px;
  width: 100%;
  margin: 0 auto;
  display: table;
  vertical-align: middle;
  position: relative;
}
.head-background {
  opacity: 0.9;
  width: 100%;
  height: 600px;
  top:0;
  left:0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.head-texts {
  width: 100%
  height: 600px;
  position: absolute;
  text-align: center;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.head-texts > h1 {
  margin-bottom: 30px;
}
/* Body contents */
.body-section {
  width: 100%;
  height: auto;
  padding: 0 16px;
;
}
.body-section a {
  color: #666666;
}
.body-section a span:hover,
.body-section a span:focus {
  color: #303034;
}
.body-contents {
  display: block;
  margin: 0 auto;
}
#workbutton {
  margin-bottom: 50px;
}
.body-contents-left {
  width: 100%;
  display: inline-block;
  padding:0 !important;
}
.body-contents-right {
  top:100px;
  width: 25%;
  right:0;
  display: inline-block;
  float:right;
  padding: 0 !important
}

/* Right side of contents */
.quotes {
  border-left: 2px solid #303034;
  padding-left: 24px;
  margin: 0 0 80px 0;
}
.quotes_multiColumn {
  border-left: 3px solid #303034;
  padding: 0 24px 0 24px;
  margin: 0 0 80px 0;
}
#quotes_link {
  font-size: 16px;
  color: #303034;
}
#quotes_link:hover {
  color: #666666;
}
.workInfo {
  border-left: 2px solid #303034;
  padding-left: 24px;
  margin: 48px 0;
}
#workinfo_link {
  font-size: 16px;
  color: #000000;
}
#workinfo_link:hover {
  color: #666666;
}
#myScrollspy {
  display: none;
  z-index: 2000;
}
ul.nav-tabs {
  width: 13%;
  min-width: 150px;
  position: absolute;
  right:10%;
  top: 680px;
}
ul.nav-tabs.affix {
  top: 100px;
  position: fixed;
  border: 0;
}
ul.nav-tabs li {
  width: 100%;
  min-width: 100px;
  min-height: 33px;
  /*vertical centering*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*styling*/
  background-color: white;
  color: #303034;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  ;
  font-style: normal;
  margin: 0 !important;
  border: 3px solid #303034;
  border-bottom: none;
}
ul.nav-tabs li:last-child {
  border-bottom: 3px solid #303034;
}
ul.nav-tabs li a {
  margin: 0;
  padding: 8px 16px;
  border: 0 !important;
  color: #303034;
}
ul.nav-tabs li a:hover {
  border-radius: 0;
  background-color: #f1f1f1;
}
ul.nav-tabs li.active a,
ul.nav-tabs li.active a:hover {
  color: white;
  background: #303034;
  border-radius: 0;
}
/* Left side of contents */
#sectionTitle {
  margin-bottom: 16px;
  font-weight: bold;
}
#sectionTitle_normal {
  margin-bottom: 16px;
  font-weight: normal;
}
#floatingImg {
  float: right;
  width: 70%;
  margin-right: -20%;
  margin-left: 3%;
}
#floatingImg_2 {
  float: right;
  width: 50%;
  margin-right: -20%;
  margin-left: 3%;
}
#floatingImg_3 {
  float: right;
  width: 30%;
  margin-right: -20%;
  margin-left: 3%;
}
.body-contents-left p,
.body-contents-left span,
.body-contents-left h3
.body-contents-left h4 {
  width: 100%;
}
}
.body-contents-left > div {
  margin-bottom: 50px;
}
.body-contents-left > img {
  width: 100%;
}
.body-contents-left > div > img {
  width: 100%;
}
.halfImg {
  margin-bottom: 50px;
  padding: 0;
}
div.halfImg > img {
  width: 100%;
  float: left;
  margin-bottom: 0px;
}
#designOutcome {
  overflow: visible;
}
.fullWidthImg {
  position: absolute;
  width: 100%;
  left:0;
  right:0;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.fullWidthFake {
  height: 300px;
  width: 100%;
}
.fullwidthFake_mid {
  height: 400px;
  width: 100%;
}
.fullWidthFake_long {
  height: 1100px;
  width: 100%;
}
/* Lightbox */
.mySlides > img {
  display: block;
  height: 100vh;
  width : auto;
  padding: 50px;
  margin: 0 auto;
}

.modal {
  display: none;
  z-index: 1;
  left: 0;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

/* Modal Content */
.modal-content {
  display: inline-block;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
}

/* The Close Button */
.modalclosebtn-w {
  color: white;
  position: absolute;
  top: -3px;
  right: 7px;
  font-size: 40px;
  font-weight: normal;
  opacity: 1;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

span.modalclosebtn-w:hover,
span.modalclosebtn-w:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s ease;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  height: 15px;
  width: 15px;
  margin: 0 25px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  color: white !important;
  transition: 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 0;
}

.prev:hover,
.next:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.hover-shadow:hover {
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  #floatingImg,
  #floatingImg_2,
  #floatingImg_3 {
    margin: 0 0 30px 0;
    float: right;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  #myScrollspy {
    display: block;
  }
  div.halfImg > img {
    width: 50%;
  }

  .body-section {
    padding: 0;
  }
  .fullWidthImg, .fullWidthFake {
    height: 500px;
  }
  .goBack {
    display: inline-block;
  }
}
/* 2.2 Visualizing Air Quality */
#visualizingAirQuality_headBg {
  z-index: -1000 !important;
  background-color: #d6d4d7;
  background-image: url('imgs/works/visualizingAirQuality/smartdetector in a context_4.jpg');
}
#fullWidth_smartairdetector_1 {
  background-image: url('imgs/works/visualizingAirQuality/fullWidth_smartAirDetector_3.jpg');
}
#fullWidth_smartairdetector_2 {
  background-image: url('imgs/works/visualizingAirQuality/fullWidth_smartAirDetector_2.jpg');
}
#initialSpace {
  margin-top: 0px;
}

/* 2.3 Verohallinto */
#verohallinto_headBg {
  z-index: -1000 !important;
  background-color: #d6d4d7;
  background-image: url('imgs/works/vero.jpg');
}
#bottom_space {
  display: none;
}
.quoteWrapper {
  margin: 30px 0;
}
/* 2.4 Primary Care */
#primaryCare_headBg {
  z-index: -1000 !important;
  background-color: #d6d4d7;
  background-image: url('imgs/featured-works-carousel-2.jpg');
}
/* 2.5 Primary Care */
#WeldingTrainingApp_headBg {
  z-index: -1000 !important;
  background-color: #d6d4d7;
  background-image: url('imgs/works/weldingTrainingApp/kemppi_2.jpg');
}
/* 2.6 KalasatamaHospital*/
 #kalasatama_headBg {
   z-index: -1000 !important;
   background-color: #d6d4d7;
   background-image: url('imgs/works/kalasatmaHospital/kalasatamaHeadBg.jpg');
 }
/* 2.7 Picky's Journey */
 #pickysJourney_headBg {
   z-index: -1000 !important;
   background-color: #d6d4d7;
   background-image: url('imgs/works/pickysJourney/pickysjourney_3_1.jpg');
 }
 #fullWidth_pickysJourney_1 {
   background-image: url('imgs/works/pickysJourney/pickysjourney_3_1.jpg');
 }
 /* 2.8 EDD */
 #edd_headBg {
   z-index: -1000 !important;
   background-color: #d6d4d7;
   background-image: url('imgs/works/EDD/EDD_bg.jpg');
 }
 /* 2.8 0100design */
 #design0100_headBg {
   z-index: -1000 !important;
   background-color: #d6d4d7;
   background-image: url('imgs/works/0100design/0100design_1.jpg');
 }
/* 2.9 81project */
#project81_headBg {
  z-index: -1000 !important;
  background-color: #d6d4d7;
  background-image: url('imgs/works/81project/81project_0.jpg');
}

/* 2.10 Traveler's Paper Kit */
#travelersPaperKit_headBg {
  z-index: -1000 !important;
  background-color: #d6d4d7;
  background-image: url('imgs/works/TravelersPaperKit/travelers paper kits.jpg');
}
/* 2.11 Life-Light */
#lifeLight_headBg {
  z-index: -1000 !important;
  background-color: #d6d4d7;
  background-image: url('imgs/works/lifeLight/life-light_1.jpg');
}
#fullWidth_lifeLight_1 {
  background-image: url('imgs/works/lifeLight/life-light_15.jpg');
}
/* 2.12 CDIP */
#cdip_headBg {
  z-index: -1000 !important;
  background-color: #d6d4d7;
  background-image: url('imgs/works/CDIP/CDIP_large.jpg');
}
/* 2.13 Interventional CT */
#ICT_headBg {
  z-index: -1000 !important;
  background-color: #d6d4d7;
  background-image: url('imgs/works/InterventionalCT/interventionalCT_1_1.jpg');
}
#fullWidth_ICT_1 {
  background-image: url('imgs/works/InterventionalCT/interventionalCT_1_1.jpg');
}
/* 2.14 embodied UI */
#embodiedUI_headBg {
  z-index: -1000 !important;
  background-color: #d6d4d7;
  background-image: url('imgs/works/embodiedUI_Air/embodiedUI_air_2.jpg');
}
/* 2.15 InteractCity */
#makingCitiesSmarter_headBg {
  background-color: #d6d4d7;
  background-image: url('imgs/works/InteractCity/backgroundImage_header.png');
}
#interactCityUI {
  height: 1100px;
  background-image: url('imgs/works/InteractCity/makingCitiesSmarter_headBg.png');
}
#visualizingAssets {
  height: 400px;
  background-color: #d6d4d7;
  background-image: url('imgs/works/InteractCity/visualizingAssets.png');
}
#configuringAssets {
  height: 400px;
  background-color: #d6d4d7;
  background-image: url('imgs/works/InteractCity/ConfiguringAssets.png');
}
#bottomMargin {
  margin-bottom: 40px;
}
/* Responsive design for each content page */
/* tablet to desktop */
@media only screen and (min-width: 600px) {
  .quoteWrapper {margin:90px 0;}
  #visualizingAirQuality_headBg {
    z-index: -1000 !important;
    background-color: #d6d4d7;
    background-image: url('imgs/featured-works-carousel-1.jpg');
  }
  #verohallinto_headBg {
    z-index: -1000 !important;
    background-color: #d6d4d7;
    background-image: url('imgs/featured-works-carousel-3.gif');
  }
  #bottom_space {
    display: inline-block;
    height: 50px;
  }
}
/*desktop to wide*/
@media only screen and (min-width: 768px) {
  .quoteWrapper {margin: 60px 0;}
  }
}
